<div class="w-full h-[90%]">
    <div class="h-[10%] flex justify-between items-center">
        <div class="flex justify-start items-center font-bold">
            Calendar
        </div>
        <div>
            <mat-icon>notification_important</mat-icon>
        </div>
    </div>
    <div class="h-[90%] overflow-auto">
        <div class="h-fit flex flex-col items-center w-full">
            <div *ngFor="let item of calenders" class="pt-2 pb-2 w-full">
                <div class="flex justify-between items-center w-full">
                    <div>
                        <span class="opacity-60"> Oct 22,2022</span>
                    </div>
                    <div>
                        <mat-icon>more_horiz</mat-icon>
                    </div>
                </div>
                <div *ngFor="let item of item.meetings" class="pt-1 pb-1">
                    <div class="grid grid-cols-3 gap-1 divide-x">
                        <div>
                            <span class="font-bold">10:000</span>
                        </div>
                        <div>
                            <span class="font-bold col-span-2 text-sm">Customer Service</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="h-[10%] flex justify-center items-center">
    <app-button class="w-full" classes="bg-accent h-12 text-white w-full" [skipLocationChange]='true'
        [routerLink]="['/dashboard',{ outlets: {sidenav: ['email'] } }]" text="View Emails">
    </app-button>
</div>