::ng-deep #profilePic.mat-icon {
  width: 65px !important;
  height: 65px !important;
}

::ng-deep #profilePic2.mat-icon {
  width: 40px !important;
  height: 45px !important;
}

::ng-deep #categoryIcon.mat-icon {
  width: 42px !important;
  height: 52px !important;
  position: absolute;
  left: -1.25rem;
}
