<div class="h-[90vh] bg-[#fafafa] w-96 p-9">
  <div class="h-[100%] w-[100%] flex flex-col justify-between">
    <div class="w-[100%] flex flex-col pr-10">
      <div class="pb-5">
        <span class="font-bold text-[15px]">Filter By :</span>
      </div>
      <div class="pb-5">
        <app-select-list
          optionList=""
          label="Policy Renewal Follow-up Responsiveness:"
        ></app-select-list>
      </div>
      <div class="pb-5">
        <p class="font-bold text-[13px] pl-3">From Date Created:</p>
        <app-date-picker-input
          [(dateValue)]="fromDateCreated"
          value="{{ fromDateCreated }}"
        ></app-date-picker-input>
      </div>
      <div>
        <p class="font-bold text-[13px] pl-3">To Date Created:</p>
        <app-date-picker-input
          [(dateValue)]="toDateCreated"
          value="{{ toDateCreated }}"
        ></app-date-picker-input>
      </div>
      <div>
        <p class="font-bold text-[13px] pl-3">From Date Modified:</p>
        <app-date-picker-input
          [(dateValue)]="fromDateModified"
          value="{{ fromDateModified }}"
        ></app-date-picker-input>
      </div>
      <div class="pb-5">
        <p class="font-bold text-[13px] pl-3">To Date Modified:</p>
        <app-date-picker-input
          [(dateValue)]="toDateModified"
          value="{{ toDateModified }}"
        ></app-date-picker-input>
      </div>
      <div class="pb-5">
        <app-select-list
          [optionsList]="AssignedStatus"
          label="Assigned To: "
        ></app-select-list>
      </div>
      <div class="pb-5">
        <app-select-list
          [optionsList]="FollowUpStatus"
          [(statusValue)]="policyStatus"
          label="Policy Renewal Follow-up Status:"
        ></app-select-list>
      </div>
    </div>
    <div class="w-[100%] flex justify-between">
      <app-button
        text="Cancel"
        (click)="policyFilterDrawer.toggle()"
        classes="bg-white border-2 border-[#005f83] text-[#005f83] h-10 w-28  shadow-lg"
      ></app-button>
      <app-button
        text="Apply"
        (click)="filter(); policyFilterDrawer.toggle()"
        classes="bg-accent h-10 w-28 text-white shadow-lg"
      ></app-button>
    </div>
  </div>
</div>
