<div class="h-[90vh] bg-[#fafafa] w-full py-9 pr-9">
  <div class="h-[100%] w-[100%] flex flex-col pb-8">
    <div class="w-[100%] flex flex-col pr-10">
      <div class="pb-5">
        <span class="font-bold text-[15px]">Filter By :</span>
      </div>
      <div class="pb-5">
        <app-select-list
          (statusValueChange)="onChangeFollowUpResponsiveness($event)"
          [selectedValue]="selectedFollowUpResponsiveness"
          name="followUpResponsivenessOptions"
          [control]="followUpResponsivenessListControl"
          [optionsList]="followUpResponsivenessList"
          label="Policy Renewal Follow-up Responsiveness:"
        ></app-select-list>
      </div>
      <div class="pb-5">
        <p class="font-bold text-[10px]">From Date Created:</p>
        <app-date-picker-input
          id="datepicker"
          [(dateValue)]="fromDateCreated"
          value="{{ fromDateCreated }}"
        ></app-date-picker-input>
      </div>
      <div class="pb-5">
        <p class="font-bold text-[10px]">To Date Created:</p>
        <app-date-picker-input
          id="datepicker"
          [(dateValue)]="toDateCreated"
          value="{{ toDateCreated }}"
        ></app-date-picker-input>
      </div>
      <div class="pb-5">
        <p class="font-bold text-[10px]">From Date Modified:</p>
        <app-date-picker-input
          id="datepicker"
          [(dateValue)]="fromDateModified"
          value="{{ fromDateModified }}"
        ></app-date-picker-input>
      </div>
      <div class="pb-5">
        <p class="font-bold text-[10px]">To Date Modified:</p>
        <app-date-picker-input
          id="datepicker"
          [(dateValue)]="toDateModified"
          value="{{ toDateModified }}"
        ></app-date-picker-input>
      </div>
      <div class="pb-5">
        <app-select-list
          (statusValueChange)="onChangeAssignedTo($event)"
          [selectedValue]="selectedAssignedTo"
          [optionsList]="assignedToList" 
          name="assignedToOptions"
          [control]="assignedToListControl"
          label="Assigned To: ">
        ></app-select-list>
      </div>
      <div class="pb-5">
        <app-select-list
          (statusValueChange)="onChangeFollowUpStatus($event)"
          [selectedValue]="selectedFollowUpStatus"
          name="followUpStatusOptions"
          [control]="followUpStatusListControl"
          [optionsList]="followUpStatusList"
          label="Policy Renewal Follow-up Status:"
        ></app-select-list>
      </div>
    </div>
  <div class="w-[100%] flex flex-wrap justify-between pb-4">
    <app-button text="Cancel" (click)="onCancel()"
      classes="hover:bg-accent bg-white hover:text-white border-2 border-[#005f83] text-[#005f83] h-10 w-[6.75rem] shadow-lg mb-4"></app-button>
  
    <app-button text="Clear Filters" (click)="onClearFilters()"
      classes="hover:bg-accent bg-white hover:text-white  border-2 border-[#005f83] text-[#005f83] h-10 w-[6.75rem] shadow-lg"></app-button>
  
    <app-button text="Apply" (click)="filter()"
      classes="hover:bg-accent bg-white hover:text-white h-10 w-[6.75rem] shadow-lg border-2 border-[#005f83] text-[#005f83]"></app-button>
  </div>
  </div>
</div>
