<div
    class="flex flex-col justify-center items-center relative rounded-2xl h-[160px] w-[203px] border-2 border-accent px-4 pt-4">
    <app-input-field class="mb-1" label="Define Entity Name:" [control]="getFormControl('name')"></app-input-field>
    <app-input-field label="Define Entity Code:" [control]="getFormControl('code')"></app-input-field>
    <p class="text-xxs text-success">Code available</p>
    <button (click)="onSectionAdded()" mat-button *ngIf="isEntityStored"
        class="flex justify-center items-center cursor-pointer rounded-sm absolute top-8 -right-[5.7rem] bg-accent h-[25px] w-[92px]">
        <span class="text-xxs font-medium text-white">
            Add Section
        </span>
    </button>
</div>