<app-dialog-header label="Print Preview"></app-dialog-header>

<img
  class="ml-auto mr-auto mt-4 mb-5"
  src="../../../../../../assets/images/cashier-icons/print-review-logo.svg"
  alt=""
/>

<div class="">
  <p
    class="flex text-white justify-center py-4 bg-[#275E80] w-[96%] ml-[2%] pl-[3%]"
  >
    Offical Receipt
  </p>
  <div class="flex mt-3">
    <div class="w-[40%] px-5">
      <div class="flex rounded-xl bg-[#fafafa] p-[10px] mr-5">
        Recevied From <app-input-field class="ml-10 flex-1"></app-input-field>
      </div>
    </div>
    <div class="w-[60%] flex justify-evenly">
      <div class="flex rounded-xl bg-[#fafafa] p-[10px] mr-2">
        Currency <app-select-list class="ml-3 flex-1"></app-select-list>
      </div>
      <div class="flex rounded-xl bg-[#fafafa] p-[10px]">
        Amount <app-input-field class="ml-3 flex-1"></app-input-field>
      </div>
      <div class="flex rounded-xl bg-[#fafafa] p-[10px]">
        Date <app-date-picker-input class="ml-3"></app-date-picker-input>
      </div>
    </div>
  </div>
  <div class="flex mt-4">
    <div class="w-1/2 px-5">
      <div class="flex rounded-xl bg-[#fafafa] p-[10px] mr-5">
        EIN <app-input-field class="ml-12 flex-1"></app-input-field>
      </div>
    </div>
    <div class="w-1/2 px-5">
      <div class="flex rounded-xl bg-[#fafafa] p-[10px] py-6 mr-5">
        The sum of only three thousand US dollars
      </div>
    </div>
  </div>
  <table class="w-[96%] ml-[2%]">
    <thead class="bg-[#275E80] px-4 w-full">
      <th class="text-white py-5 text-center">EIN</th>
      <th class="text-white py-5 text-center">Name</th>
      <th class="text-white py-5 text-center">Operation</th>
      <th class="text-white py-5 text-center">Description</th>
      <th class="text-white py-5 text-center">Currency</th>
      <th class="text-white py-5 text-center">Debit</th>
      <th class="text-white py-5 text-center">Credit</th>
    </thead>
    <tbody>
      <td class="py-5 text-center">010779722</td>
      <td class="py-5 text-center">Mohamad</td>
      <td class="py-5 text-center">Received</td>
      <td class="py-5 text-center">GR/8052 From 15/9/2022</td>
      <td class="py-5 text-center">LBP</td>
      <td class="py-5 text-center"></td>
      <td class="py-5 text-center">3,000</td>
    </tbody>
  </table>
  <div class="w-[96%] ml-[2%] text-white border rounded-t-[20px] mr-4 ml-2">
    <p class="bg-[#275E80] py-3 text-center">Description</p>
    <div class="flex flex-col p-3 bg-[#fafafa]">
      <app-input-field></app-input-field>
      <app-input-field></app-input-field>
    </div>
  </div>
  <div class="flex w-[96%] ml-[2%]">
    <div class="w-1/7">
      <p>Receiver's Signature</p>
      <app-input-field></app-input-field>
    </div>
    <button
      class="text-[19px] ml-auto py-6 px-[44px] text-white bg-[#275E80] border-button"
    >
      Process & Print
    </button>
  </div>
</div>
