<div class="py-5">
    <h1 class="text-base font-medium mb-5">User Policies</h1>
    <div class="grid grid-cols-3 gap-10">
        <app-select-list label="Force Complex Passwords:" [control]="getFormControl('isComplexPasswordForced')">
        </app-select-list>
    </div>
    <div class="w-full h-1/3 grid grid-cols-3 gap-10">
        <app-input-field label="Force Complex Passwords:" [name]="'forceComplexPasswords'"
            [control]="getFormControl('isComplexPasswordForced')">
        </app-input-field>
        <app-input-field label="Force Change Password:" [name]="'forceChangePassword'"
            [control]="getFormControl('isChangePasswordForced')">
        </app-input-field>
        <app-input-field label="Every X Days (Enter X):" [name]="'everyXDays'"
            [control]="getFormControl('numberOfDays')">
        </app-input-field>
    </div>
    <div class="w-full h-1/3 grid grid-cols-3 gap-10">
        <app-input-field label="Minimum Password Length:" [name]="'minimumPasswordLength'"
            [control]="getFormControl('minPasswordLength')">
        </app-input-field>
        <app-input-field label="Maximum Trials before Locking:" [name]="'maximumTrailsBeforeLocking'"
            [control]="getFormControl('maxTrialsBeforeLockingLength')">
        </app-input-field>
    </div>
</div>