<div class="pb-4">
    <h1 class="text-base font-medium mb-5">User Policies</h1>
    <div class="w-full h-1/3 flex flex-row gap-2">
        <div class="w-1/3">
            <app-input-field label="Minimum Password Length:" [name]="'minimumPasswordLength'" type="number"
                [control]="getFormControl('minPasswordLength')">
            </app-input-field>
        </div>
        <div class="w-1/3">
            <app-input-field label="Maximum Trials before Locking:" [name]="'maximumTrailsBeforeLocking'" type="number"
                [control]="getFormControl('maxTrialsBeforeLockingLength')">
            </app-input-field>
        </div>

        <div class="w-1/3">
            <app-input-field label="Every X Days (Enter X):" [name]="'everyXDays'" type="number"
                [control]="getFormControl('numberOfDays')">
            </app-input-field>
        </div>
    </div>
    <div class="w-full h-1/3 flex flex-row justify-start gap-2">
        <div class="w-1/3 flex justify-start">
            <div class="flex flex-col justify-start">
                <p class="text-xs font-bold">isChangePasswordForced</p>
                <mat-slide-toggle [formControl]="getFormControl('isChangePasswordForced')"></mat-slide-toggle>
            </div>
        </div>
        <div class="w-1/3 flex justify-start">
            <div class="flex flex-col justify-start">
                <p class="text-xs font-bold">isComplexPasswordForced</p>
                <mat-slide-toggle [formControl]="getFormControl('isComplexPasswordForced')"
                    class="justify-start"></mat-slide-toggle>
            </div>
        </div>
    </div>
    <div class="w-full h-1/3 flex flex-row gap-2">
        <div class="w-1/3">
        </div>
        <div class="w-1/3">
        </div>
        <div class="w-1/3 flex justify-end items-center">
            <app-button (trigger)="onSave()" text="Save User Policies"
                classes="bg-accent text-xs text-white font-light h-8 w-[150px]">
            </app-button>
        </div>
    </div>
</div>