<div class="flex-1">
  <div class="ml-auto mr-auto flex mb-4 mt-12">
    <div class="flex ml-auto rounded-xl bg-[#fafafa] p-[10px] mr-5">
      Currency <app-select-list class="ml-3 flex-1"></app-select-list>
    </div>
    <div class="flex mr-auto rounded-xl bg-[#fafafa] p-[10px]">
      Amount <app-input-field class="ml-3 flex-1"></app-input-field>
    </div>
  </div>
  <div class="ml-auto mr-auto mb-4 w-[32%] rounded-xl bg-[#fafafa] p-[10px]">
    Payer <app-input-field class="pl-20 flex-1"></app-input-field><br />
    Date <app-date-picker-input class="ml-20"></app-date-picker-input>
  </div>
</div>
