<div class="h-full w-full flex flex-col">
    <div class="h-[5%] flex items-center justify-start">
        <span>Company Setup for: <span class="text-primary">MedGulf</span></span>
    </div>
    <div class="h-[85%] flex flex-row w-full">
        <div class="w-1/3 flex flex-col pr-4">
            <app-input-field label="Address:">
            </app-input-field>
            <app-input-field label="Website:">
            </app-input-field>
            <app-input-field label="Email:">
            </app-input-field>
            <app-input-field label="Phone Number:">
            </app-input-field>
            <span class="py-2 font-semibold"> Extensions</span>
            <div class="flex items-center justify-between mt-3">
                <p class="text-xs font-bold">Mandatory</p>
                <mat-slide-toggle formControlName="isMandatory"></mat-slide-toggle>
            </div>
            <div class="flex items-center justify-between mt-3">
                <p class="text-xs font-bold">Mandatory</p>
                <mat-slide-toggle formControlName="isMandatory"></mat-slide-toggle>
            </div>
            <div class="flex items-center justify-between mt-3">
                <p class="text-xs font-bold">Mandatory</p>
                <mat-slide-toggle formControlName="isMandatory"></mat-slide-toggle>
            </div>
            <div class="flex items-center justify-between mt-3">
                <p class="text-xs font-bold">Mandatory</p>
                <mat-slide-toggle formControlName="isMandatory"></mat-slide-toggle>
            </div>
        </div>
        <div class="w-1/3  flex flex-col pr-4">
            <app-input-field label="API Key Information:">
            </app-input-field>
        </div>
        <div class="w-1/3  flex flex-col pr-4">
            <app-input-field label="API Secret Key:">
            </app-input-field>
        </div>
    </div>
    <div class="h-[5%] flex items-start justify-end">
        <app-button (trigger)="onSave()" text="Save" classes="h-8 w-[80px] font-thin text-xs bg-accent text-white">
        </app-button>
    </div>
    <div class="h-[5%] flex items-start justify-end">

    </div>
</div>