<app-dialog-header
  class="text-bold"
  label="New Transaction"
></app-dialog-header>
<div class="w-full">
  <div class="w-1/5 mt-[69px] ml-[51px]"></div>
  <div class="w-4/5"></div>
</div>

<div class="flex w-full">
  <div class="w-1/2 py-6 flex justify-center bg-white text-[#275e80]">
    <p class="text-[16px] text-white font-normal">Cancel</p>
  </div>
  <div class="w-1/2 py-6 flex justify-center text-white bg-[#275e80]">
    <p class="text-[16px] text-white font-normal">Receive Now</p>
  </div>
</div>
