<app-dialog-header
  class="text-bold"
  label="New Transaction"
></app-dialog-header>
<div class="w-full">
  <div class="w-1/10 mt-[69px] ml-[51px]">
    <div class="bg-white w-full">
      <div class="flex flex-col w-full">
        <img
          src="../../../../../../assets/images/cashier-icons/advance-payment-selected.svg"
        />
        <p class="text-[#365D7D] text-center">Advance Payment</p>
      </div>
      <div class="flex flex-col w-full">
        <img
          src="../../../../../../assets/images/cashier-icons/vendor-invoice.svg"
        />
        <p class="text-[#BABABA] text-center">Vendor Invoice</p>
      </div>
    </div>
  </div>
  <div class="w-[90%]"></div>
</div>

<div class="flex w-full">
  <div class="w-1/2 py-6 flex justify-center bg-white text-[#275e80]">
    <p class="text-[16px] text-white font-normal">Cancel</p>
  </div>
  <div class="w-1/2 py-6 flex justify-center text-white bg-[#275e80]">
    <p class="text-[16px] text-white font-normal">Receive Now</p>
  </div>
</div>
