<div class="h-full w-full flex flex-row overflow-y-auto min-w-[40rem] min-h-[40rem]">
    <div class="w-1/3 px-1 flex flex-col">
        <div class="h-[10%]"></div>
        <div class="h-[90%] px-2">
            <app-input-field label="Company Name:" [control]="getFormControl('companyName')"></app-input-field>
            <div class="flex items-center">
                <app-select-list label="Default Language:" [control]="getFormControl('defaultLanguage')">
                </app-select-list>
            </div>
            <div class="flex items-center">
                <app-select-list label="Country:" [control]="getFormControl('country')"></app-select-list>
            </div>
            <div class="flex items-center">
                <app-select-list label="Default Currency:" [control]="getFormControl('defaultCurrency')">
                </app-select-list>
            </div>
            <div class="flex items-center">
                <app-select-list label="Fiscal Year:" [control]="getFormControl('fiscalYear')"></app-select-list>
            </div>
            <app-input-field label="Underwriting Year:" [control]="getFormControl('underwritingYear')">
            </app-input-field>
            <div class="flex items-center">
                <app-select-list label="Accounting Style:" [control]="getFormControl('accountingStyle')">
                </app-select-list>
            </div>
        </div>
    </div>
    <div class="w-2/3 flex flex-col">
        <div class="h-[10%] flex justify-end items-center">
            <app-button (trigger)="onHolidayAdded()" icon="add" text="Add New Holiday"
                classes="bg-accent text-sm text-white font-light h-10 w-[235px]">
            </app-button>
        </div>
        <div class="h-[90%] bg-red-300">
            s
        </div>
    </div>
</div>