<div class="h-full w-full flex flex-row">
    <div class="w-1/3">
        <!-- <app-input-field label="Company Name:" [formControl]="getFormControl('name')"></app-input-field> -->
    </div>
    <div class="w-2/3 flex flex-col">
        <div class="h-[10%] flex justify-end items-center">
            <app-button (trigger)="onHolidayAdded()" icon="add" text="Add New Holiday"
                classes="bg-accent text-sm text-white font-light h-10 w-[235px]">
            </app-button>
        </div>
        <div class="h-[90%] bg-red-300">
            s
        </div>
    </div>
</div>