<p-table *ngIf="data?.paginatedJournalItems" [rows]="pageSize" class="main-table" [value]="data.paginatedJournalItems"
    [totalRecords]="data.journalItemsCount">
    <ng-template pTemplate="header">
        <tr>
            <th style="width:20%">
                <div class="flex items-center">
                    <p-columnFilter [showMenu]="false" type="text" placeholder="NO" [showClearButton]="false"
                        field="number">
                    </p-columnFilter>
                    <p-sortIcon field="number" pSortableColumn="number"></p-sortIcon>
                </div>
            </th>
            <th style="width:20%">
                <div class="flex items-center">
                    <p-columnFilter [showMenu]="false" type="text" placeholder="Posting Date" [showClearButton]="false"
                        field="postingDate">
                    </p-columnFilter>
                    <p-sortIcon field="postingDate" pSortableColumn="postingDate"></p-sortIcon>
                </div>
            </th>
            <th style="width:10%">
                <div class="flex items-center">
                    <p-columnFilter [showMenu]="false" type="text" placeholder="Account No" [showClearButton]="false"
                        field="accountNumber">
                    </p-columnFilter>
                    <p-sortIcon field="accountNumber" pSortableColumn="accountNumber"></p-sortIcon>
                </div>
            </th>
            <th style="width:10%">
                <div class="flex items-center">
                    <p-columnFilter [showMenu]="false" type="text" placeholder="Account Name" [showClearButton]="false"
                        field="accountName">
                    </p-columnFilter>
                    <p-sortIcon field="accountName" pSortableColumn="accountName"></p-sortIcon>
                </div>
            </th>
            <th style="width:10%">
                <div class="flex items-center">
                    <p-columnFilter [showMenu]="false" type="text" placeholder="Debit" [showClearButton]="false"
                        field="debit">
                    </p-columnFilter>
                    <p-sortIcon field="debit" pSortableColumn="debit"></p-sortIcon>
                </div>
            </th>
            <th style="width:10%">
                <div class="flex items-center">
                    <p-columnFilter [showMenu]="false" type="text" placeholder="Credit" [showClearButton]="false"
                        field="credit">
                    </p-columnFilter>
                    <p-sortIcon field="credit" pSortableColumn="credit"></p-sortIcon>
                </div>
            </th>
            <th style="width:20%">
                <div class="flex items-center">
                    <p-columnFilter [showMenu]="false" type="text" placeholder="Balance" [showClearButton]="false"
                        field="balance">
                    </p-columnFilter>
                    <p-sortIcon field="balance" pSortableColumn="balance"></p-sortIcon>
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex" let-expanded="expanded">
        <tr>
            <td style="width:20%">
                <span class="font-bold text-xs ml-2">Opening Balance</span>
            </td>
            <td style="width:20%">
                <span class="font-bold text-xs ml-2">{{formattedOpeningDate}}</span>
            </td>
            <td style="width:10%">
            </td>
            <td style="width:10%">
            </td>
            <td style="width:10%">
                <span class="text-xs font-bold">${{accountViewOpeningDate.totalDebit| number}}</span>
            </td>
            <td style="width:10%">
                <span class="text-xs font-bold">${{accountViewOpeningDate.totalCredit| number}}</span>
            </td>
            <td style="width:20%">
                <span class="text-xs font-bold">${{accountViewOpeningDate.totalBalance| number}}</span>
            </td>
        </tr>
        <tr>
            <td style="width:20%" class="text-xxs pl-4">{{item.documentNumber}}</td>
            <td style="width:20%" class="text-xxs pl-4">{{item.postingDate}}</td>
            <td style="width:10%" class="text-xxs pl-4">{{item.accountNumber}}</td>
            <td style="width:10%" class="text-xxs pl-4">{{item.accountName}}</td>
            <td style="width:10%" class="text-xxs pl-4">${{item.debit| number}}</td>
            <td style="width:10%" class="text-xxs pl-4">${{item.credit| number}}</td>
            <td style="width:20%" class="text-xxs pl-4">${{item.balance| number}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer">
        <tr>
            <td class="text-xs font-bold">Closing Balance</td>
            <td class="text-xs font-bold">{{formattedClosingDate}}</td>
            <td></td>
            <td></td>
            <td class="text-xs font-bold">${{accountViewClosingDate.totalDebit}}</td>
            <td class="text-xs font-bold">${{accountViewClosingDate.totalCredit}}</td>
            <td class="text-xs font-bold">${{accountViewClosingDate.totalBalance}}</td>
        </tr>
    </ng-template>
</p-table>