::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #005F83;
    border-radius: 10px;
}