@use '@angular/material'as mat;

@include mat.core();


$custom-primary-color: (50: var(--primary-color), contrast: ());

$custom-accent-color: (50: var(--accent-color),
    contrast: ());

$custom-warn-color: (50: var(--warn-color),
    contrast: ());

$my-custom-level: mat.define-typography-level($font-family: url('./assets/fonts/Poppins-Regular.ttf'),
    $font-weight: 400,
    $font-size: 1rem,
    $line-height: 1,
    $letter-spacing: normal,
);


$my-custom-typography: mat.define-typography-config($headline: mat.define-typography-level(3rem, 1, 700),
);

$primary: mat.define-palette($custom-primary-color, 50, 50, 50);
$accent: mat.define-palette($custom-accent-color, 50, 50, 50);

$warn: mat.define-palette($custom-warn-color, 50, 50, 50);

$theme: mat.define-light-theme((color: (primary: $primary,
            accent: $accent,
            warn: $warn,
        )));

@include mat.core-theme($theme);
@include mat.all-component-themes($theme);


html,
body {
    height: 100%;
    overflow-x: hidden;
}

:root {
    --primary-color: #005F83 !important;
    --accent-color: #186AA5;
    --success-color: #199E52;
    --warn-color: #E94218;
}