::ng-deep .leading-none.flex.justify-center.items-center {
  width: 100% !important;
}

.BadgeAddtionClass {
  right: 28px;
  bottom: -22px;
  border-radius: 20px;
}

::ng-deep {
  .mat-form-field {
    display: flex;
  }
}

.set-opacity {
  opacity: 0.5;
}

::ng-deep .labelSize {
  .mat-form-field-label.ng-tns-c97-50.mat-empty.mat-form-field-empty.ng-star-inserted {
    font-size: 9px;
  }
}

::ng-deep .inProcessSelect {
  .mat-form-field {
    width: 150px;
    bottom: -13px;
  }
}

::ng-deep .noteIcon {
  .mat-icon {
    width: 16px !important;
    height: 12px !important;
  }
}

::ng-deep .mat-dialog-container {
  padding: 0px;
}

