<div class="flex flex-col rounded-3xl w-[270px] h-full p-3 max-h-[270px] text-[#ffffff]" [ngStyle]="backgroundStyle">
    <div *ngIf="card.employees?.length > 0" class="h-[20%] flex -space-x-4">
        <div *ngFor="let employee of card.employees; let i = index">
            <img *ngIf="i < 3" class="w-[30px] h-[30px]  rounded-full" [src]="employee.photoURL">
            <a *ngIf="i === card.employees.length -1 "
                class="cursor-default flex justify-center text-black z-50 items-center w-[30px] h-[30px] text-xs font-medium bg-white rounded-full"
                href="#">+{{card.employees.length - 3}}</a>
        </div>
    </div>
    <div class="h-[10%] flex items-center">
        <span class="font-bold text-xxs">{{card.title}}</span>
    </div>
    <div class="h-[70%] pt-1 overflow-y-auto pr-[0.1rem] pl-[0.1rem]">
        <div class="justify-center pb-1" *ngFor="let item of card.items">
            <app-card-item [item]="item" [color]="card.backgroundColor"></app-card-item>
        </div>
    </div>
</div>