<div *ngIf="printModal">
  <app-print-process></app-print-process>
</div>
<div *ngIf="!printModal">
  <app-dialog-header label="Basket"></app-dialog-header>
  <!-- <mat-dialog-content> -->
  <div *ngIf="status == 0">
    <div class="flex">
      <div class="pl-4 pr-4 pt-8 pb-8 h-[780px] flex flex-col">
        <div
          class="flex flex-col mt-auto mb-auto px-10 py-10 justify-center"
          (click)="changeStatus('0')"
        >
          <img
            src="../../../../../../assets/images/cashier-icons/selected-card.svg"
            alt=""
          />
          <p class="text-center" ngClass="{{ cardFontColor }}">Card</p>
        </div>
        <div
          class="flex flex-col px-10 py-10 justify-center"
          (click)="changeStatus('1')"
        >
          <img
            src="../../../../../../assets/images/cashier-icons/check.svg"
            alt=""
          />
          <p class="text-center" ngClass="{{ checkFontColor }}">Checks</p>
        </div>
        <div
          class="flex flex-col px-10 py-10 justify-center"
          (click)="changeStatus('2')"
        >
          <img
            src="../../../../../../assets/images/cashier-icons/cash.svg"
            alt=""
          />
          <p class="text-center" ngClass="{{ cashFontColor }}">Cash</p>
        </div>
      </div>
      <div class="flex-1">
        <div class="ml-auto mr-auto flex mb-4 mt-12">
          <div class="flex ml-auto rounded-xl bg-[#fafafa] p-[10px] mr-5">
            Currency <app-select-list class="ml-3 flex-1"></app-select-list>
          </div>
          <div class="flex mr-auto rounded-xl bg-[#fafafa] p-[10px]">
            Amount <app-input-field class="ml-3 flex-1"></app-input-field>
          </div>
        </div>
        <div class="ml-auto mr-auto flex mb-4">
          <div class="flex ml-auto rounded-xl bg-[#fafafa] p-[10px] mr-5">
            Card Type <app-input-field class="ml-3 flex-1"></app-input-field>
          </div>
          <div class="flex mr-auto rounded-xl bg-[#fafafa] p-[10px]">
            Date <app-input-field class="ml-8"></app-input-field>
          </div>
        </div>
        <div class="ml-auto mr-auto flex rounded-xl">
          <div
            class="flex ml-auto mr-auto rounded-xl bg-[#fafafa] p-[10px] w-[580px]"
          >
            Payer <app-input-field class="ml-3 flex-1"></app-input-field>
          </div>
        </div>
        <div class="flex mt-24">
          <div class="w-1/2 text-white border rounded-t-[20px] mr-4 ml-2">
            <p class="bg-[#275E80] border rounded-t-[20px] py-3 text-center">
              Description
            </p>
            <div class="flex flex-col p-3 bg-[#fafafa]">
              <app-input-field></app-input-field>
              <app-input-field></app-input-field>
            </div>
          </div>
          <div class="w-1/2 text-white border rounded-t-[20px] ml-4 mr-2">
            <p class="bg-[#275E80] border rounded-t-[20px] py-3 text-center">
              Notes
            </p>
            <div class="flex flex-col p-3 bg-[#fafafa]">
              <app-input-field></app-input-field>
              <app-input-field></app-input-field>
            </div>
          </div>
        </div>
        <div class="flex">
          <div class="w-1/2"></div>
          <div class="w-1/2 flex justify-evenly mt-5">
            <button
              class="text-[19px] border rounded-[10px] py-6 px-[44px] text-[#275E80] border-button"
            >
              Cancel
            </button>
            <button
              class="text-[19px] border rounded-[10px] py-6 px-[44px] text-white bg-[#275E80] border-button"
            >
              Process & Print
            </button>
            <button
              class="text-[19px] border rounded-[10px] py-6 px-[44px] text-[#275E80] border-button"
            >
              Print Preview
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="status == 1">
    <div class="flex">
      <div class="pl-4 pr-4 pt-8 pb-8 h-[780px] flex flex-col">
        <div
          class="flex flex-col px-10 py-10 justify-center"
          (click)="changeStatus('0')"
        >
          <img
            src="../../../../../../assets/images/cashier-icons/card.svg"
            alt=""
          />
          <p class="text-center" ngClass="{{ cardFontColor }}">Card</p>
        </div>
        <div
          class="flex flex-col px-10 py-10 justify-center mt-auto mb-auto"
          (click)="changeStatus('1')"
        >
          <img
            src="../../../../../../assets/images/cashier-icons/selected-check.svg"
            alt=""
          />
          <p class="text-center" ngClass="{{ checkFontColor }}">Checks</p>
        </div>
        <div
          class="flex flex-col px-10 py-10 justify-center"
          (click)="changeStatus('2')"
        >
          <img
            src="../../../../../../assets/images/cashier-icons/cash.svg"
            alt=""
          />
          <p class="text-center" ngClass="{{ cashFontColor }}">Cash</p>
        </div>
      </div>
      <div class="flex-1">
        <app-receive-check-payment></app-receive-check-payment>
      </div>
    </div>
  </div>
  <div *ngIf="status == 2">
    <div class="flex">
      <div class="pl-4 pr-4 pt-8 pb-8 h-[780px] flex flex-col">
        <div
          class="flex flex-col px-10 py-10 justify-center"
          (click)="changeStatus('0')"
        >
          <img
            src="../../../../../../assets/images/cashier-icons/card.svg"
            alt=""
          />
          <p class="text-center" ngClass="{{ cardFontColor }}">Card</p>
        </div>
        <div
          class="flex flex-col px-10 py-10 justify-center"
          (click)="changeStatus('1')"
        >
          <img
            src="../../../../../../assets/images/cashier-icons/check.svg"
            alt=""
          />
          <p class="text-center" ngClass="{{ checkFontColor }}">Checks</p>
        </div>
        <div
          class="flex flex-col px-10 py-10 justify-center mt-auto mb-auto"
          (click)="changeStatus('2')"
        >
          <img
            src="../../../../../../assets/images/cashier-icons/selected-cash.svg"
            alt=""
          />
          <p class="text-center" ngClass="{{ cashFontColor }}">Cash</p>
        </div>
      </div>
      <div class="flex-1">
        <app-receive-cash-payment
          [(printDialog)]="printModal"
        ></app-receive-cash-payment>
      </div>
    </div>
  </div>
  <!-- </mat-dialog-content> -->
</div>
