<div class="flex flex-row w-[100%] h-36 rounded-md shadow-xl">
    <div class="flex flex-col items-center h-full w-[10%] bg-[#FD3B31] text-[#FFFFFF]  rounded-l-md">
        <div>15D</div>
        <div>6H</div>
        <div>10M</div>
    </div>
    <div class="flex flex-col h-full w-[90%] p-0">
        <div class="flex justify-end items-center w-full h-[10%] pr-4">
            01:55 P.M May 16, 2022
        </div>
        <div class="h-[65%] flex flex-row items-center justify-start gap-1">
            <div class="h-full w-[30%] flex justify-center items-center">
                <img class="rounded-full w-[70px] h-[70px]" src="../../../../../assets/images/profile.jpg">
            </div>
            <div class="h-full w-[60%] flex flex-col items-start justify-center">
                <span class="font-bold">Anonymous</span>
                <span>Entity Not Matched or Created</span>
            </div>
            <div class="flex justify-end items-center h-full w-[10%]">
                <div class="bg-[#199E52] h-[30%] w-[15px] rounded-l-3xl">
                </div>
            </div>
        </div>
        <div class="h-[25%] flex justify-center items-center flex-row w-full pb-2">
            <div
                class="bg-[#F4F4F4] text-primary items-center justify-center flex rounded-lg w-[90%] h-full cursor-pointer">
                Communication Inbox
            </div>
        </div>
    </div>
</div>