::ng-deep .cdk-overlay-pane {
    position: absolute !important;
    left: 2.5%;
    top:-3%;
}

::ng-deep .mat-divider.mat-divider-inset {
    position: relative;
    inset-inline-start: -68px;
}

::ng-deep .mat-divider {
    border-top-width: 2px !important;
}


::ng-deep .mat-menu-content:not(:empty) {
    padding-top: 0 !important;
}

::ng-deep .mat-menu-item:hover {
    background: none !important;
    color: #3890cf !important;
}

::ng-deep .mat-menu-item {
    height: 39px !important;
    background: none !important;
}

::ng-deep .mat-menu-panel {
    min-height: 45px !important;
}

