.spacer {
    flex: 1 1 auto;
}

.search {
    width: 350px;
    height: 40px;
}

.customIconSize {
    height: 140px;
    width: 140px;
}

::placeholder {
    color: #005F83;
}

::ng-deep .mat-form-field-infix {
    border-top: 0px !important;
}

::ng-deep .mat-toolbar-row {
    background-color: #FFFFFF;
}