<div [ngClass]="{'bg-accent': isElementSelected,'bg-white':!isElementSelected}"
    class="relative border-2 border-accent flex justify-center items-center rounded-2xl mr-1 px-2 py-[1px]">
    <p [ngClass]="{'text-white': isElementSelected,'text-accent':!isElementSelected}" class="text-xxs font-medium">
        {{item.name}}
    </p>
    <button mat-button (click)="onElementViewed()"
        class="flex border-2 border-accent rounded-full absolute -top-1 -right-2 bg-white">
        <span class="material-icons right-icon text-accent">
            chevron_right
        </span>
    </button>
</div>