<div class="flex items-center justify-between">
    <p class="text-base w-[74px] font-bold">{{label}}</p>
    <div class="flex items-center">
        <div class="flex items-center justify-center w-28 bg-gray-light1 px-5 py-2 border-r-8 border-r-success">
            <span class="text-2xl font-bold">{{ratio}}</span>
        </div>
        <div class="flex flex-col pl-2">
            <p class="text-success font-bold text-xs">Good Standing</p>
            <p class="text-xs text-primary">
                <span class="font-bold text-2xl">{{percentile}} </span>
                Percentile
            </p>
        </div>
    </div>
</div>