<app-dialog-header label="Make Payment"></app-dialog-header>

<div class="w-full flex">
  <div class="flex flex-col mt-8 w-[7%]" style="height: calc(70vh - 70px)">
    <div class="flex flex-col w-full mt-auto mb-auto px-6 justify-center">
      <img
        class="w-10 h-5 ml-auto mr-auto"
        src="../../../../../../assets/images/svg-icons/pay-icon.svg"
      />
      <p class="text-[#365D7D] text-center">Other</p>
    </div>
  </div>
  <div class="w-[93%]">
    <div class="w-full flex justify-evenly">
      <div class="w-[45%] flex flex-col bg-[#fafafa] p-3 mt-5">
        <div class="w-[75%] flex mt-10">
          Receiver Full Name
          <app-input-field class="ml-3 flex-1"></app-input-field>
        </div>
        <div class="w-[100%] flex">
          <div class="w-[45%]">
            Process No
            <app-input-field class="ml-3 flex-1"></app-input-field>
          </div>
          <div class="w-[45%]">
            Date
            <app-date-picker-input
              style="margin-left: 114px"
            ></app-date-picker-input>
          </div>
        </div>
        <div class="w-[100%] flex">
          <div class="w-[45%]">
            Address
            <app-input-field class="ml-3 flex-1"></app-input-field>
          </div>
          <div class="w-[45%]">
            Email
            <app-input-field class="ml-3 flex-1"></app-input-field>
          </div>
        </div>
        <div class="mt-auto flex justify-evenly w-full">
          <div class="w-[45%] flex bg-white p-2">
            Currency
            <app-select-list class="ml-3 flex-1"></app-select-list>
          </div>
          <div class="w-[45%] flex bg-white p-2 pt-3">
            Amount
            <app-input-field class="ml-3 flex-1"></app-input-field>
          </div>
        </div>
      </div>
      <div class="w-[45%] mt-5">
        <div
          class="drop-shadow-lg w-full bg-white rounded-[13px] overflow-hidden h-full"
        >
          <div class="w-full flex justify-center items-center p-2 bg-[#275280]">
            <p class="text-white text-[16px]">Till balance</p>
          </div>
          <div
            class="w-[90%] ml-[5%] flex justify-between items-center py-10 border-b border-gray-100"
          >
            <span class="font-bold text-[17px]">2,200</span>
            <span class="text-[17px] font-normal opacity-50">USD</span>
          </div>
          <div class="w-full flex justify-between items-center p-10">
            <span class="font-bold text-[17px]">45,000,000</span>
            <span class="text-[17px] font-normal opacity-40">LBP</span>
          </div>
        </div>
      </div>

      <!-- </div> -->
    </div>

    <div class="flex flex-row w-full items-center justify-evenly mt-10">
      <div
        class="drop-shadow-lg w-[45%] bg-white rounded-[13px] overflow-hidden"
      >
        <div class="w-full flex justify-center items-center p-2 bg-[#275280]">
          <p class="text-white text-[16px]">Description</p>
        </div>
        <div class="flex flex-col w-full p-7 pb-0">
          <div class="flex flex-row w-full">
            <input
              class="h-full bg-transparent flex justify-center items-center outline-none w-full px-1 text-sm xl:text-base font-light"
              type="number"
            />
          </div>
          <div class="pt-2">
            <hr />
          </div>
        </div>
        <div class="flex flex-col w-full p-7">
          <div class="flex flex-row w-full">
            <input
              class="h-full bg-transparent flex justify-center items-center outline-none w-full px-1 text-sm xl:text-base font-light"
              type="number"
            />
          </div>
          <div class="pt-2">
            <hr />
          </div>
        </div>
      </div>
      <div
        class="drop-shadow-lg w-[45%] bg-white rounded-[13px] overflow-hidden"
      >
        <div class="w-full flex justify-center items-center p-2 bg-[#275280]">
          <p class="text-white text-[16px]">Notes</p>
        </div>
        <div class="flex flex-col w-full p-7 pb-0">
          <div class="flex flex-row w-full">
            <input
              class="h-full bg-transparent flex justify-center items-center outline-none w-full px-1 text-sm xl:text-base font-light"
              type="number"
            />
          </div>
          <div class="pt-2">
            <hr />
          </div>
        </div>
        <div class="flex flex-col w-full p-7">
          <div class="flex flex-row w-full">
            <input
              class="h-full bg-transparent flex justify-center items-center outline-none w-full px-1 text-sm xl:text-base font-light"
              type="number"
            />
          </div>
          <div class="pt-2">
            <hr />
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-end items-center w-full pr-[3%]">
      <div class="pt-4 flex flex-row justify-between items-center">
        <app-button
          classes="px-12 py-6 ml-6 text-[20px] leading-none text-center flex
                 justify-center items-center bg-white border-[1px] border-[#275e80] text-[#275e80]  color-white"
          text="Cancel"
        ></app-button>
        <app-button
          classes="px-12 py-6 ml-6 text-[20px] leading-none text-center flex
                 justify-center items-center bg-[#275e80] text-white border-[1px] border-[#275e80] color-white"
          text="Pay"
        ></app-button>
      </div>
    </div>
  </div>
</div>
