<app-dialog-header label="Entity Control"></app-dialog-header>
<mat-dialog-content class="px-12">

    <div class="flex w-full items-center justify-between mt-7 mb-5">
        <h4 class="text-xl font-bold">Create New Entity</h4>
        <app-button [isDisabled]="!isDefinitionFetched" (trigger)="onEntitySaved()" text="Save and close" icon="save"
            [classes]="isDefinitionFetched?'bg-accent h-12 w-52 text-white':'bg-accent h-12 w-52 text-white opacity-50'">
        </app-button>
    </div>
    <div class="grid grid-cols-4 gap-5">
        <div class="col-span-3">
            <cdk-accordion>
                <cdk-accordion-item *ngIf="!isDefinitionFetched" #accordionItem0="cdkAccordionItem" role="button"
                    tabindex="0" [attr.id]="'accordion-header-0'" [attr.aria-expanded]="accordionItem0.expanded"
                    [attr.aria-controls]="'accordion-body-0'">
                    <div class="flex items-center justify-between w-full panel-header bg-gray-light3 px-5">
                        <div class="flex items-center">
                            <div
                                class="border-4 border-accent text-accent text-2xl rounded-full h-12 w-12 flex items-center justify-center font-bold mr-6">
                                1</div>
                            <span class="font-bold text-lg">Select Entity Type</span>
                        </div>
                        <span (click)="accordionItem0.toggle()" class="material-icons text-accent cursor-pointer">
                            {{accordionItem0.expanded?'expand_less':'expand_more'}}
                        </span>
                    </div>
                    <div role="region" [style.display]="accordionItem0.expanded ? '' : 'none'"
                        [attr.id]="'accordion-body-0'" [attr.aria-labelledby]="'accordion-header-0'">
                        <app-entity-type></app-entity-type>
                    </div>
                </cdk-accordion-item>

                <cdk-accordion-item *ngFor="let item of entityDefinition?.sections;let i=index"
                    #accordionItem="cdkAccordionItem" role="button" [tabindex]="i" [attr.id]="'accordion-header-1'"
                    [attr.aria-expanded]="accordionItem.expanded" [attr.aria-controls]="'accordion-body-1'">
                    <div class="flex items-center justify-between w-full mt-2 panel-header bg-gray-light3 px-5">
                        <div class="flex items-center">
                            <div
                                class="border-4 border-accent text-accent text-2xl rounded-full h-12 w-12 flex items-center justify-center font-bold mr-6">
                                {{i +1}}</div>
                            <span class="font-bold text-lg">{{item.sectionName}}</span>
                        </div>
                        <span (click)="accordionItem.toggle()" class="material-icons text-accent cursor-pointer">
                            {{accordionItem.expanded?'expand_less':'expand_more'}}
                        </span>
                    </div>
                    <div role="region" [style.display]="accordionItem.expanded ? '' : 'none'"
                        [attr.id]="'accordion-body-1'" [attr.aria-labelledby]="'accordion-header-0'">
                        <app-entity-section [section]="item"></app-entity-section>
                    </div>
                </cdk-accordion-item>
            </cdk-accordion>
        </div>
        <div class="col-span-1">
            <app-create-entity-checks *ngIf="isDefinitionFetched"></app-create-entity-checks>
        </div>
    </div>
</mat-dialog-content>