<app-dialog-header label="Debit Note"></app-dialog-header>
<mat-dialog-content>
    <div class="flex items-stretch  my-6 py-3 px-5 shadow rounded-t-lg  justify-center bg-primary w-full">
        <div>
            <p class="mr-4 text-lg text-white">DEBIT NOTE - REF#</p>
        </div>
    </div>
    <div class="flex items-stretch mt-2 py-3 px-5 rounded-t-lg justify-between">
        <div class="w-1/2">
            <p class="mr-4 text-lg text-black">A/C No.</p>
        </div>
        <div class="w-1/2 flex justify-between">
            <p class="mr-4 text-lg text-black">EIN</p>
            <p class="mr-4 text-lg text-black">Date</p>
        </div>

    </div>
    <div class="flex justify-center mt-10">
        <p class="mr-4 text-xl text-black font-bold">PLEASE NOTE THAT WE HAVE DEBITED YOUR ACCOUNT WITH US FOR THE
            FOLLOWING
            AMOUNT:
        </p>
    </div>
    <div class="flex items-stretch  mt-6 py-3 px-5 shadow rounded-t-lg  justify-between bg-primary w-full">
        <div class="w-1/2">
            <p class="mr-4 text-lg text-white">Description</p>
        </div>
        <div class="w-1/2 flex justify-between">
            <p class="mr-4 text-lg text-white">Currency</p>
            <p class="mr-4 text-lg text-white">Amount</p>
        </div>

    </div>
    <div class="flex items-stretch  mt-2 py-3 px-5  rounded-t-lg  justify-between">
        <div class="w-1/2">
            <p class="mr-4 text-lg text-black">Generate Fuel</p>
        </div>
        <div class="w-1/2 flex justify-between">
            <p class="mr-4 text-lg text-black">USD</p>
            <p class="mr-4 text-lg text-black">$</p>
        </div>

    </div>
    <div class="flex items-stretch mt-10 py-3 px-5 shadow rounded-lg  justify-between bg-primary w-full">
        <div class="flex flex-row">
            <p class="mr-4 text-lg text-white">Total:</p>
            <p class="mr-4 text-lg text-white">Exactly One Hundred & Twenty United States Dollars</p>
        </div>
        <p class="mr-4 text-lg text-white">$</p>
    </div>
    <div class="flex justify-center mt-5">
        <p class="mr-4 text-xl text-black font-bold">FOR AND ON BEHALF OF THE COMPANY
        </p>
    </div>
    <div class="flex flex-row w-full py-10 justify-end items-end">
        <app-button classes="px-5 ml-3 py-4 text-[12px] 
            leading-none text-center flex justify-center items-center text-white bg-primary 
            shadow drop-shadow-lg color-white" text="Print Debit Note(s)"></app-button>
    </div>
</mat-dialog-content>