<div
    class="flex flex-col justify-center items-center relative rounded-2xl h-[160px] w-[203px] border-2 border-primary px-4 pt-4 bg-primary text-white">
    {{data.name}}
    <button mat-button (click)="onGroupAdded()"
        class="flex justify-center items-center cursor-pointer rounded-sm absolute top-16 -right-[5.7rem] bg-primary h-[25px] w-[92px]">
        <span class="text-xxs font-medium text-white">
            Add Group
        </span>
    </button>
    <button mat-button (click)="onDepartmentAdded()"
        class="flex justify-center items-center cursor-pointer rounded-sm absolute top-24 -right-[5.7rem] bg-primary h-[25px] w-[92px]">
        <span class="text-xxs font-medium text-white">
            Add Department
        </span>
    </button>
</div>