<app-dialog-header *ngIf="managementDiaglog" label="Till"></app-dialog-header>
<mat-dialog-content *ngIf="managementDiaglog">
  <div>
    <div class="flex justify-end">
      <app-button
        classes="py-3 my-2 px-6 bg-[#275E80] text-white"
        icon="alarm_add"
        text="Add New Currency"
        (click)="addCurrency()"
      ></app-button>
    </div>
    <div class="flex w-full shadow-lg mb-5 mt-2">
      <div class="w-[25%]">
        <p class="text-center bg-[#F2F2F2]">Start of Shift</p>
        <br />
        <div class="flex">
          <span class="ml-2">Currency:</span>
          <app-select-list
            [optionsList]="currencyList"
            class="flex justify-center"
          ></app-select-list>
        </div>
        <div class="flex">
          <span class="ml-2">Amonut:</span>
          <app-input-field class="flex justify-center"></app-input-field
          ><mat-icon class="ml-1" svgIcon="check-till"></mat-icon>
        </div>
      </div>
      <div class="w-[75%]">
        <table>
          <thead>
            <tr>
              <th colspan="3" class="text-center bg-[#275E80] w-3/7">
                8,600.00 USD
              </th>
              <th class="text-center bg-[#ED6A5F] w-1/7">2,000 USD</th>
              <th class="text-center bg-[#F2F2F3] w-1/7" colspan="3">
                Current Balance
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img
                  class="ml-auto mr-auto w-[30px] mt-[10px]"
                  src="../../../../../../assets/images/cashier-icons/money.png"
                  alt=""
                />
                <div class="text-[8px] text-center text-base mt-[10px]">
                  Cash
                </div>
                <div class="text-[13px] font-bold text-center mt-[10px]">
                  2,200.00
                </div>
              </td>
              <td>
                <img
                  class="ml-auto mr-auto w-[30px] mt-[10px]"
                  src="../../../../../../assets/images/cashier-icons/check-book.png"
                  alt=""
                />
                <div class="text-[8px] text-center text-base mt-[10px]">
                  Credit
                </div>
                <div class="text-[13px] font-bold text-center mt-[10px]">
                  3,200.00
                </div>
              </td>
              <td>
                <img
                  class="ml-auto mr-auto w-[30px] mt-[10px]"
                  src="../../../../../../assets/images/cashier-icons/credit-cards.png"
                  alt=""
                />
                <div class="text-[8px] text-center text-base mt-[10px]">
                  Card
                </div>
                <div class="text-[13px] font-bold text-center mt-[10px]">
                  4,100.00
                </div>
              </td>
              <td>
                <img
                  class="ml-auto mr-auto w-[30px] mt-[10px]"
                  src="../../../../../../assets/images/cashier-icons/money.png"
                  alt=""
                />
                <div class="text-[8px] text-center text-base mt-[10px]">
                  Cash
                </div>
                <div class="text-[13px] font-bold text-center mt-[10px]">
                  2,000.00
                </div>
              </td>
              <td>
                <img
                  class="ml-auto mr-auto w-[30px] mt-[10px]"
                  src="../../../../../../assets/images/cashier-icons/money.png"
                  alt=""
                />
                <div class="text-[8px] text-center text-base mt-[10px]">
                  Cash
                </div>
                <div class="text-[13px] font-bold text-center mt-[10px]">
                  1,700.00
                </div>
              </td>
              <td>
                <img
                  class="ml-auto mr-auto w-[30px] mt-[10px]"
                  src="../../../../../../assets/images/cashier-icons/check-book.png"
                  alt=""
                />
                <div class="text-[8px] text-center text-base mt-[10px]">
                  Credit
                </div>
                <div class="text-[13px] font-bold text-center mt-[10px]">
                  3,200.00
                </div>
              </td>
              <td>
                <img
                  class="ml-auto mr-auto w-[30px] mt-[10px]"
                  src="../../../../../../assets/images/cashier-icons/credit-cards.png"
                  alt=""
                />
                <div class="text-[8px] text-center text-base mt-[10px]">
                  Card
                </div>
                <div class="text-[13px] text-center font-bold mt-[10px]">
                  4,100.00
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="flex w-full shadow-lg mb-5 mt-2">
      <div *ngIf="additionalCurrency" class="w-[25%]">
        <p class="text-center bg-[#F2F2F2]">Start of Shift</p>
        <br />
        <div class="flex">
          <span class="ml-2">Currency:</span>
          <app-select-list
            [optionsList]="currencyList"
            [(statusValue)]="currency"
            class="flex justify-center"
          ></app-select-list>
        </div>
        <div class="flex">
          <span class="ml-2">Amonut:</span>
          <app-input-field class="flex justify-center"></app-input-field
          ><mat-icon class="ml-1" svgIcon="check-till"></mat-icon>
        </div>
      </div>
      <div class="w-[75%]" *ngIf="currency === 2">
        <table>
          <thead>
            <tr>
              <th colspan="3" class="text-center bg-[#275E80] w-3/7">
                8,600.00 USD
              </th>
              <th class="text-center bg-[#ED6A5F] w-1/7">2,000 USD</th>
              <th class="text-center bg-[#F2F2F3] w-1/7" colspan="3">
                Current Balance
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img
                  class="ml-auto mr-auto w-[30px] mt-[10px]"
                  src="../../../../../../assets/images/cashier-icons/money.png"
                  alt=""
                />
                <div class="text-[8px] text-center text-base mt-[10px]">
                  Cash
                </div>
                <div class="text-[13px] font-bold text-center mt-[10px]">
                  2,200.00
                </div>
              </td>
              <td>
                <img
                  class="ml-auto mr-auto w-[30px] mt-[10px]"
                  src="../../../../../../assets/images/cashier-icons/check-book.png"
                  alt=""
                />
                <div class="text-[8px] text-center text-base mt-[10px]">
                  Credit
                </div>
                <div class="text-[13px] font-bold text-center mt-[10px]">
                  3,200.00
                </div>
              </td>
              <td>
                <img
                  class="ml-auto mr-auto w-[30px] mt-[10px]"
                  src="../../../../../../assets/images/cashier-icons/credit-cards.png"
                  alt=""
                />
                <div class="text-[8px] text-center text-base mt-[10px]">
                  Card
                </div>
                <div class="text-[13px] font-bold text-center mt-[10px]">
                  4,100.00
                </div>
              </td>
              <td>
                <img
                  class="ml-auto mr-auto w-[30px] mt-[10px]"
                  src="../../../../../../assets/images/cashier-icons/money.png"
                  alt=""
                />
                <div class="text-[8px] text-center text-base mt-[10px]">
                  Cash
                </div>
                <div class="text-[13px] font-bold text-center mt-[10px]">
                  2,000.00
                </div>
              </td>
              <td>
                <img
                  class="ml-auto mr-auto w-[30px] mt-[10px]"
                  src="../../../../../../assets/images/cashier-icons/money.png"
                  alt=""
                />
                <div class="text-[8px] text-center text-base mt-[10px]">
                  Cash
                </div>
                <div class="text-[13px] font-bold text-center mt-[10px]">
                  1,700.00
                </div>
              </td>
              <td>
                <img
                  class="ml-auto mr-auto w-[30px] mt-[10px]"
                  src="../../../../../../assets/images/cashier-icons/check-book.png"
                  alt=""
                />
                <div class="text-[8px] text-center text-base mt-[10px]">
                  Credit
                </div>
                <div class="text-[13px] font-bold text-center mt-[10px]">
                  3,200.00
                </div>
              </td>
              <td>
                <img
                  class="ml-auto mr-auto w-[30px] mt-[10px]"
                  src="../../../../../../assets/images/cashier-icons/credit-cards.png"
                  alt=""
                />
                <div class="text-[8px] text-center text-base mt-[10px]">
                  Card
                </div>
                <div class="text-[13px] text-center font-bold mt-[10px]">
                  4,100.00
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="flex justify-center">
      <div class="w-[40%] drop-shadow-lg">
        <div
          class="bg-[#275E80] rounded-t-xl w-full text-[18px] text-center py-3 text-[#FFFFFF]"
        >
          End Of Shift
        </div>
        <div class="flex">
          <div class="w-1/2 flex flex-col justify-center">
            Currency:
            <app-input-field
              class="flex justify-center"
              value="USD"
              *ngIf="currency === 2"
            ></app-input-field>

            <app-input-field
              class="flex justify-center"
              value="LBP"
            ></app-input-field>
          </div>
          <div class="w-1/2 flex flex-col justify-center">
            Amonut:
            <app-input-field
              class="flex justify-center"
              *ngIf="currency === 2"
            ></app-input-field>

            <app-input-field class="flex justify-center"></app-input-field>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full flex justify-center">
      <div class="w-[40%] flex justify-between">
        <app-button
          classes="my-2 bg-[#275E80] py-3 w-[140px] flex justify-center items-center text-white"
          (click)="managmentTill()"
          text="Till Management"
        ></app-button>
        <app-button
          classes="ml-auto my-2 bg-[#275E80] py-3 w-[140px] flex justify-center items-center text-white"
          text="End Shift"
        ></app-button>
      </div>
    </div>
  </div>
</mat-dialog-content>
<app-dialog-header
  *ngIf="!managementDiaglog"
  label="Basket"
></app-dialog-header>
<mat-dialog-content *ngIf="!managementDiaglog">
  <div class="flex w-full" *ngIf="checkSection">
    <div class="flex w-[10%] flex-col h-[660px]">
      <div
        class="flex flex-col px-10 py-10 justify-center mt-auto mb-auto"
        (click)="changeStatus('check')"
      >
        <img
          src="../../../../../../assets/images/cashier-icons/selected-check.svg"
          alt=""
        />
        <p class="text-center" ngClass="{{ checkFontColor }}">Checks</p>
      </div>
      <div
        class="flex flex-col px-10 py-10 justify-center"
        (click)="changeStatus('cash')"
      >
        <img
          src="../../../../../../assets/images/cashier-icons/cash.svg"
          alt=""
        />
        <p class="text-center" ngClass="{{ cashFontColor }}">Cash</p>
      </div>
    </div>
    <div class="w-[90%] pt-10">
      <app-till-history class="mt-auto mb-auto"></app-till-history>
    </div>
  </div>
  <div class="flex w-full" *ngIf="checkSection">
    <div class="flex w-[10%] flex-col h-[660px]">
      <div
        class="flex flex-col px-10 py-10 justify-center"
        (click)="changeStatus('check')"
      >
        <img
          src="../../../../../../assets/images/cashier-icons/check.svg"
          alt=""
        />
        <p class="text-center" ngClass="{{ checkFontColor }}">Checks</p>
      </div>
      <div
        class="flex flex-col px-10 py-10 justify-center mt-auto mb-auto"
        (click)="changeStatus('cash')"
      >
        <img
          src="../../../../../../assets/images/cashier-icons/selected-cash.svg"
          alt=""
        />
        <p class="text-center" ngClass="{{ cashFontColor }}">Cash</p>
      </div>
    </div>
    <div class="w-[90%] pt-10">
      <app-till-history class="mt-auto mb-auto"></app-till-history>
    </div>
  </div>
  <div class="flex w-full" *ngIf="!checkSection">
    <div class="flex w-[10%] flex-col h-[660px]">
      <div
        class="flex flex-col px-10 py-10 justify-center"
        (click)="changeStatus('check')"
      >
        <img
          src="../../../../../../assets/images/cashier-icons/check.svg"
          alt=""
        />
        <p class="text-center" ngClass="{{ checkFontColor }}">Checks</p>
      </div>
      <div
        class="flex flex-col px-10 py-10 justify-center mt-auto mb-auto"
        (click)="changeStatus('cash')"
      >
        <img
          src="../../../../../../assets/images/cashier-icons/selected-cash.svg"
          alt=""
        />
        <p class="text-center" ngClass="{{ cashFontColor }}">Cash</p>
      </div>
    </div>
    <div class="w-[90%] pt-10">
      <app-till-history *ngIf="" class="mt-auto mb-auto"></app-till-history>
    </div>
  </div>
  <div class="flex w-full" *ngIf="!checkSection">
    <div class="flex w-[10%] flex-col h-[660px]">
      <div
        class="flex flex-col px-10 py-10 justify-center"
        (click)="changeStatus('check')"
      >
        <img
          src="../../../../../../assets/images/cashier-icons/checkvg"
          alt=""
        />
        <p class="text-center" ngClass="{{ checkFontColor }}">Checks</p>
      </div>
      <div
        class="flex flex-col px-10 py-10 justify-center mt-auto mb-auto"
        (click)="changeStatus('cash')"
      >
        <img
          src="../../../../../../assets/images/cashier-icons/selected-cash.svg"
          alt=""
        />
        <p class="text-center" ngClass="{{ cashFontColor }}">Cash</p>
      </div>
    </div>
    <div class="w-[90%] pt-10">
      <app-till-history *ngIf="" class="mt-auto mb-auto"></app-till-history>
    </div>
  </div>
</mat-dialog-content>
