<app-dialog-header label="Till"></app-dialog-header>
<mat-dialog-content>
  <div>
    <div class="flex justify-end">
      <app-button classes="py-3 my-2 px-6 bg-[#275E80]" icon="alarm_add" text="Add New Currency"></app-button>
    </div>
    <div class="flex w-full shadow-lg mb-5 mt-2">
      <div class="w-[25%]">
        <p class="text-center bg-[#F2F2F2]">Start of Shift</p><br>
        <div>Currency: <app-select-list [optionsList]="currencyList"></app-select-list></div>
        <div>Amonut: <app-input-field></app-input-field><mat-icon class="ml-1" svgIcon="check-till"></mat-icon></div>

      </div>
      <div class="w-[75%]">
        <table>
          <thead>
            <tr>
              <th colspan="3" class="text-center bg-[#275E80] w-3/7">8,600.00 USD</th>
              <th class="text-center bg-[#ED6A5F] w-1/7">2,000 USD</th>
              <th class="text-center bg-[#F2F2F3] w-1/7" colspan="3">
                Current Balance
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img class="ml-auto mr-auto" src="../../../../../../assets/images/cashier-icons/money.png" alt="" />
                <div class="text-[8px] text-center">Cash</div>
                <div class="text-[13px] font-bold text-center">2,200.00</div>
              </td>
              <td>
                <img class="ml-auto mr-auto" src="../../../../../../assets/images/cashier-icons/check-book.png"
                  alt="" />
                <div class="text-[8px] text-center">Credit</div>
                <div class="text-[13px] font-bold text-center">3,200.00</div>
              </td>
              <td>
                <img class="ml-auto mr-auto" src="../../../../../../assets/images/cashier-icons/credit-cards.png"
                  alt="" />
                <div class="text-[8px] text-center">Card</div>
                <div class="text-[13px] font-bold text-center">4,100.00</div>
              </td>
              <td>
                <img class="ml-auto mr-auto" src="../../../../../../assets/images/cashier-icons/money.png" alt="" />
                <div class="text-[8px] text-center">Cash</div>
                <div class="text-[13px] font-bold text-center">2,000.00</div>
              </td>
              <td>
                <img class="ml-auto mr-auto" src="../../../../../../assets/images/cashier-icons/money.png" alt="" />
                <div class="text-[8px] text-center">Cash</div>
                <div class="text-[13px] font-bold text-center">1,700.00</div>
              </td>
              <td>
                <img class="ml-auto mr-auto" src="../../../../../../assets/images/cashier-icons/check-book.png"
                  alt="" />
                <div class="text-[8px] text-center">Credit</div>
                <div class="text-[13px] font-bold text-center">3,200.00</div>
              </td>
              <td>
                <img class="ml-auto mr-auto" src="../../../../../../assets/images/cashier-icons/credit-cards.png"
                  alt="" />
                <div class="text-[8px] text-center">Card</div>
                <div class="text-[13px] text-center font-bold">4,100.00</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="flex w-full shadow-lg mb-5 mt-2">
      <div class="w-[25%]">
        <p class="text-center bg-[#F2F2F2]">Start of Shift</p><br>
        <div>Currency: <app-select-list [optionsList]="currencyList"></app-select-list></div>
        <div>Amonut: <app-input-field></app-input-field><mat-icon class="ml-1" svgIcon="check-till"></mat-icon></div>

      </div>
      <div class="w-[75%]">
        <table>
          <thead>
            <tr>
              <th colspan="3" class="text-center bg-[#275E80] w-3/7">8,600.00 USD</th>
              <th class="text-center bg-[#ED6A5F] w-1/7">2,000 USD</th>
              <th class="text-center bg-[#F2F2F3] w-1/7" colspan="3">
                Current Balance
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img class="ml-auto mr-auto" src="../../../../../../assets/images/cashier-icons/money.png" alt="" />
                <div class="text-[8px] text-center">Cash</div>
                <div class="text-[13px] font-bold text-center">2,200.00</div>
              </td>
              <td>
                <img class="ml-auto mr-auto" src="../../../../../../assets/images/cashier-icons/check-book.png"
                  alt="" />
                <div class="text-[8px] text-center">Credit</div>
                <div class="text-[13px] font-bold text-center">3,200.00</div>
              </td>
              <td>
                <img class="ml-auto mr-auto" src="../../../../../../assets/images/cashier-icons/credit-cards.png"
                  alt="" />
                <div class="text-[8px] text-center">Card</div>
                <div class="text-[13px] font-bold text-center">4,100.00</div>
              </td>
              <td>
                <img class="ml-auto mr-auto" src="../../../../../../assets/images/cashier-icons/money.png" alt="" />
                <div class="text-[8px] text-center">Cash</div>
                <div class="text-[13px] font-bold text-center">2,000.00</div>
              </td>
              <td>
                <img class="ml-auto mr-auto" src="../../../../../../assets/images/cashier-icons/money.png" alt="" />
                <div class="text-[8px] text-center">Cash</div>
                <div class="text-[13px] font-bold text-center">1,700.00</div>
              </td>
              <td>
                <img class="ml-auto mr-auto" src="../../../../../../assets/images/cashier-icons/check-book.png"
                  alt="" />
                <div class="text-[8px] text-center">Credit</div>
                <div class="text-[13px] font-bold text-center">3,200.00</div>
              </td>
              <td>
                <img class="ml-auto mr-auto" src="../../../../../../assets/images/cashier-icons/credit-cards.png"
                  alt="" />
                <div class="text-[8px] text-center">Card</div>
                <div class="text-[13px] text-center font-bold">4,100.00</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="flex justify-center">
      <div class="w-[40%] drop-shadow-lg">
        <div class="bg-[#275E80] rounded-t-xl w-full text-[18px] text-center py-3 text-[#FFFFFF]">
          End Of Shift
        </div>
        <div class="flex">
          <div class="w-1/2 flex flex-col justify-center">
            Currency: <app-input-field value="USD"></app-input-field>
            Currency: <app-input-field value="LBP"></app-input-field>
          </div>
          <div class="w-1/2 flex flex-col justify-center">
            Amonut: <app-input-field></app-input-field>
            Amonut: <app-input-field></app-input-field>
          </div>
        </div>
      </div>

    </div>
    <div class="w-full flex justify-center">
      <div class="w-[40%] flex justify-between">
        <app-button classes="my-2 bg-[#275E80] py-3 w-[140px] flex justify-center items-center"
          text="Till Management"></app-button>
        <app-button classes="ml-auto my-2 bg-[#275E80] py-3 w-[140px] flex justify-center items-center"
          text="End Shift"></app-button>
      </div>
    </div>

  </div>
</mat-dialog-content>