<div class="h-[100%] p-2 flex flex-col justify-start pb-0">
    <div class="h-[5%]">
        <span class="font-bold text-base" translate>dashboard.sticky-notes</span>
    </div>
    <div class="h-[95%]">
        <div class="h-[10%] flex justify-end items-center">
            <button class="py-2 px-2 rounded-full flex justify-center items-center gap-1 bg-primary text-white w-16 h-6"
                (click)="addStickyNote()">
                <mat-icon class="icon">add</mat-icon>
                <span class="items-center flex gap-3 text-xs font-thin" translate>dashboard.new</span>
            </button>
        </div>
        <div class="h-[90%] pt-4">
            <div class="h-[100%] overflow-auto">
                <div class="p-1" *ngFor="let item of items">
                    <app-sticky-notes-card></app-sticky-notes-card>
                </div>
            </div>
        </div>
    </div>
</div>