<div class="h-[100%] p-4 flex flex-col justify-start pb-0">
    <div class="h-[5%]">
        <span class="font-bold text-lg">Sticky Notes</span>
    </div>
    <div class="h-[95%]">
        <div class="h-[10%] flex justify-end items-center">
            <button
                class="py-2 px-2 rounded-full flex justify-center items-center gap-1 bg-primary text-[#ffffff] w-20 h-8"
                (click)="addStickyNote()">
                <mat-icon>add</mat-icon>
                <span class="items-center flex gap-3">New</span>
            </button>
        </div>
        <div class="h-[90%] pt-4">
            <div class="h-[100%] overflow-auto">
                <div class="p-2">
                    <app-sticky-notes-card></app-sticky-notes-card>
                </div>
                <div class="p-2">
                    <app-sticky-notes-card></app-sticky-notes-card>
                </div>
                <div class="p-2">
                    <app-sticky-notes-card></app-sticky-notes-card>
                </div>
                <div class="p-2">
                    <app-sticky-notes-card></app-sticky-notes-card>
                </div>
                <div class="p-2">
                    <app-sticky-notes-card></app-sticky-notes-card>
                </div>
                <div class="p-2">
                    <app-sticky-notes-card></app-sticky-notes-card>
                </div>
                <div class="p-2">
                    <app-sticky-notes-card></app-sticky-notes-card>
                </div>
                <div class="p-2">
                    <app-sticky-notes-card></app-sticky-notes-card>
                </div>
                <div class="p-2">
                    <app-sticky-notes-card></app-sticky-notes-card>
                </div>
                <div class="p-2">
                    <app-sticky-notes-card></app-sticky-notes-card>
                </div>
            </div>
        </div>
    </div>
</div>