<div class="flex pl-3 pr-5 flex-col w-full h-full rounded-md border-[1px] border-[#005f83] border-solid">
  <div class="mt-3">
    <p class="text-[12px] flex justify-start items-center text-primary margin-control">
      Required Data (Dynamically Loaded from Product Selected)
    </p>
  </div>
  <div class="flex flex-col w-full mt-8 width-control">
    <div class="flex flex-col w-full justify-start content-start items-start overflow-y-auto"
      *ngFor="let requiredProductData of requiredData.sections">
      <span style="font-weight: bold; font-size: 15px; padding-bottom: 15px">{{
        requiredProductData.sectionName
        }}</span>
      <div class="flex flex-col w-full" *ngIf="fg">
        <div class="flex flex-col w-full" *ngFor="let field of requiredProductData.fields" [formGroup]="fg">
          <app-input-field label="{{ field.description }}"
            *ngIf="field.elementType === ElementsTypes.Ein && field.mandatory === true" (keyup)="onEinFocus()"
            class="flex justify-center p-0" value={{einValue}} [control]="getFormControl(field.description)">
          </app-input-field>
          <app-input-field label="{{ field.description }}"
            *ngIf="field.elementType === ElementsTypes.Ein && field.mandatory === false" (keyup)="onEinFocus()"
            class="flex justify-center p-0" value={{einValue}} [control]="getFormControl(field.description)">
          </app-input-field>

          <app-select-list *ngIf="field.elementType === ElementsTypes.Select && field.mandatory === true"
            (statusValueChange)="onSelectItem($event)" [selectedValue]="selectedItem" [optionsList]=""
            name="{{ field.elementName }}" [control]="itemsListControl" label="{{ field.description }} *"
            style="margin-left: 6px" [control]="getFormControl(field.description)">
          </app-select-list>
          <app-select-list *ngIf="field.elementType === ElementsTypes.Select && field.mandatory === false"
            (statusValueChange)="onSelectItem($event)" [selectedValue]="selectedItem" [optionsList]=""
            name="{{ field.elementName }}" [control]="itemsListControl" label="{{ field.description }}"
            style="margin-left: 6px" [control]="getFormControl(field.description)">
          </app-select-list>

          <app-input-field label="{{ field.description }}"
            *ngIf="field.elementType === ElementsTypes.String && field.mandatory === true"
            class="flex justify-center p-0" value="" [control]="getFormControl(field.description)">
          </app-input-field>
          <app-input-field label="{{ field.description }}"
            *ngIf="field.elementType === ElementsTypes.String && field.mandatory === false"
            class="flex justify-center p-0" value="" [control]="getFormControl(field.description)">
          </app-input-field>

          <div *ngIf="field.elementType === ElementsTypes.Date && field.mandatory === true">
            <mat-label class="font-bold" style="font-size: 11px; margin-left: 10px">{{ field.description }}
              *</mat-label>
            <app-date-picker-input class="flex justify-center p-0" value=""
              [control]="getFormControl(field.description)">
            </app-date-picker-input>
          </div>
          <div *ngIf="field.elementType === ElementsTypes.Date && field.mandatory === false">
            <mat-label class="font-bold" style="font-size: 11px; margin-left: 10px">{{ field.description }}</mat-label>
            <app-date-picker-input class="flex justify-center p-0" value=""
              [control]="getFormControl(field.description)">
            </app-date-picker-input>
          </div>

          <app-input-field *ngIf="field.elementType === ElementsTypes.Number && field.mandatory === true" type="number"
            label="{{ field.description }}" class="flex justify-center p-0" value=""
            [control]="getFormControl(field.description)">
          </app-input-field>
          <app-input-field *ngIf="field.elementType === ElementsTypes.Number && field.mandatory === false" type="number"
            label="{{ field.description }}" class="flex justify-center p-0" value=""
            [control]="getFormControl(field.description)">
          </app-input-field>

          <div *ngIf="field.elementType === ElementsTypes.Text && field.mandatory === true">
            <label for="textarea">{{ field.description }}</label>
            <textarea id="textarea"></textarea>
          </div>
          <div *ngIf="field.elementType === ElementsTypes.Text && field.mandatory === false">
            <label for="textarea">{{ field.description }}</label>
            <textarea id="textarea"></textarea>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>