<div
  class="flex pl-3 pr-5 flex-col w-full h-full rounded-md border-[1px] border-[#005f83] border-solid"
>
  <div class="mt-3">
    <p
      class="text-[12px] flex justify-start items-center text-primary margin-control"
    >
      Required Data (Dynamically Loaded from Product Selected)
    </p>
  </div>
  <div class="flex flex-row mt-8 width-control">
    <div class="w-1/3">
      <app-input-field
        label="Initiator EIN: "
        class="flex justify-center p-0"
        value="{{ requiredData['Initiator EIN'] }}"
      ></app-input-field>
      <app-input-field
        label="Vehicle Year"
        class="flex justify-center p-0"
        value="{{ requiredData['Vehicle Year'] }}"
      ></app-input-field>
      <app-input-field
        label="Vehicle Make"
        class="flex justify-center p-0"
        value="{{ requiredData['Vehicle Make'] }}"
      ></app-input-field>
      <app-input-field
        label="Vehicle Model"
        class="flex justify-center pb-7"
        value="{{ requiredData['Vehicle Model'] }}"
      ></app-input-field>
    </div>
    <div class="w-1/3">
      <div class="flex flex-row">
        <div class="w-[60%]">
          <app-input-field
            label="Vehicle Plate Number"
            class="flex justify-center"
            value="{{ requiredData['Vehicle Plate Number'] }}"
          ></app-input-field>
        </div>
        <div class="w-[40%]">
          <app-input-field
            label="Plate Code"
            class="flex justify-center"
            value="{{ requiredData['Plate Code'] }}"
          ></app-input-field>
        </div>
      </div>
      <app-input-field
        label="Vehicle Type"
        class="flex justify-center p-0 blueColor"
        value="{{ requiredData['Vehicle Type'] }}"
      ></app-input-field>
      <div class="relative">
        <app-input-field
          label="Vehicle Color"
          class="flex justify-center p-0"
          value="{{ requiredData['Vehicle Color'] }}"
        >
        </app-input-field>
        <div class="absolute right-0 top-0">
          <mat-icon svgIcon="customer-service-color-bucket"></mat-icon>
        </div>
      </div>
      <app-input-field
        label="Horse Power"
        class="flex justify-center pb-7 blueColor"
        value="{{ requiredData['Horse Power'] }}"
      ></app-input-field>
    </div>
    <div class="w-1/3">
      <app-input-field
        label="Sum Insured"
        class="flex justify-center p-0 blueColor sumLabel"
        value="{{ requiredData['Sum Insured'] }}"
      ></app-input-field>
      <app-input-field
        label="Deductibles"
        class="flex justify-center p-0 blueColor"
        value="{{ requiredData['Deductibles'] }}"
      ></app-input-field>
      <div class="flex flex-row w-full h-28 px-2 py-2 bg-[#fafafa]">
        <div class="pr-1">
          <p class="text-[11px] flex justify-start items-start text-[#000000]">
            Pictures
          </p>
        </div>
        <div class="flex flex-col justify-between">
          <div class="flex">
            <div class="pr-1">
              <img
                class="w-[40px] h-[40px]"
                src="{{ requiredData['Picture1'] }}"
              />
            </div>
            <div class="pr-1">
              <img
                class="w-[40px] h-[40px]"
                src="{{ requiredData['Picture2'] }}"
              />
            </div>
            <div class="pr-1">
              <img
                class="w-[40px] h-[40px]"
                src="{{ requiredData['Picture3'] }}"
              />
            </div>
          </div>
          <div class="flex justify-between">
            <div class="pr-1">
              <img
                class="w-[40px] h-[40px]"
                src="{{ requiredData['Picture4'] }}"
              />
            </div>
            <div class="pr-1">
              <img
                class="w-[40px] h-[40px]"
                src="{{ requiredData['Picture5'] }}"
              />
            </div>
            <div class="pr-1">
              <img
                class="w-[40px] h-[40px]"
                src="{{ requiredData['Picture6'] }}"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
