<app-system-setup>
    <div class="h-[5%] flex items-center">
        <span>Company Structure :</span>
    </div>
    <div class="h-[95%] w-full overflow-auto">
        <p-organizationChart [value]="treeNode" selectionMode="single">
            <ng-template let-node pTemplate="company">
                <app-company-card [data]="node.data"></app-company-card>
            </ng-template>
            <ng-template let-node pTemplate="branch">
                <app-branch-card [data]="node.data"></app-branch-card>
            </ng-template>
            <ng-template let-node pTemplate="department">
                <app-department-card [data]="node.data"></app-department-card>
            </ng-template>
            <ng-template let-node pTemplate="group">
                <app-group-card [data]="node.data"></app-group-card>
            </ng-template>
        </p-organizationChart>
    </div>
</app-system-setup>