<div [ngClass]="{'match-entity-box': hasContent}"
    class="flex flex-col px-6 py-3 border-2 border-gray-light2 shadow rounded-xl">
    <div class="flex items-center justify-between">
        <p class="text-xl font-bold">{{label}}</p>
        <button *ngIf="showSelectButton" mat-button matTooltipClass="select-tooltip"
            matTooltip="Clicking the Button selects the EIN Number and plugs it in the text box value."
            class="bg-primary shadow text-white rounded-2xl px-3 pb-[2px] flex justify-center items-center">
            <span class="text-sm">select</span>
        </button>
    </div>
    <div class="flex justify-center item-center mt-3 mb-6">
        <img class="rounded-full h-32 w-32 shadow" src="assets/images/profile.svg" />
    </div>
    <div *ngFor="let item of  this.newEntity " class="flex flex-col justify-between">
        <div class="flex flex-row justify-between ">
            <h3 class="text-xs font-bold">{{item[0]}}</h3>
            <h4 [ngClass]="getMatchColor(item[1])" class="text-sm">
                {{item[1]}}<span *ngIf="isMatchCard">%
                    Match</span>
            </h4>
        </div>
        <div class="flex flex-row justify-center py-1 p-1">
            <div class="bg-gray-light1 w-full " style="height: 0.09px; "></div>
        </div>
    </div>

</div>
<ng-content></ng-content>