::ng-deep .select-tooltip {
    background-color: var(--primary-color) !important;
    color: white !important;
    font-size: 13px;
    text-align: center;
    font-weight: 300;
}

.match-entity-box {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}