::ng-deep .colorflag {
  .mat-form-field-underline {
    display: none;
  }
  .mat-input-element {
    margin-bottom: 5px;
  }
}

.bgColor {
  background-color: #fafafa;
}


button:focus{
  background-color:#005F83;

}