<div>
    <div class="flex items-center justify-between mb-4">
        <div>
            <p class="text-sm">Manage User Roles</p>
        </div>
        <app-button (trigger)="onRoleAdded()" icon="add" text="Add User Role"
            classes="bg-accent text-sm text-white font-light h-10 w-[235px]">
        </app-button>
    </div>
    <p-table class="main-table" [value]="rolesList" rowGroupMode="subheader" dataKey="id">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:5%"></th>
                <th style="width:10%">
                    <p-columnFilter [showMenu]="false" type="text" placeholder="role" [showClearButton]="false"
                        field="role">
                    </p-columnFilter>
                </th>
                <th style="width:20%">
                    <p-columnFilter [showMenu]="false" type="text" placeholder="description" [showClearButton]="false"
                        field="description">
                    </p-columnFilter>
                </th>
                <th class="text-xs" style="width:10%">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-role let-rowIndex="rowIndex" let-expanded="expanded">
            <tr>
                <td style="width:5%">
                    <button type="button" pButton pRipple [pRowToggler]="role" class="mr-2">
                        <span class="material-icons">
                            {{expanded?'remove_circle_outline':'add_circle_outline'}}
                        </span>
                    </button>
                </td>
                <td style="width:10%">
                    <span class="font-bold text-xs ml-2">{{role.role}}</span>
                </td>
                <td style="width:20%">
                    <span class="text-xs ml-2">{{role.description}}</span>
                </td>
                <td>
                    <div class="flex justify-end">
                        <button mat-button>
                            <span class="material-icons text-warn">
                                delete_outline
                            </span>
                        </button>
                        <button mat-button class="ml-4">
                            <span class="material-icons text-accent">
                                edit
                            </span>
                        </button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-role>
            <tr>
                <td class="sub-table" colspan="7">
                    <div>
                        <p-table class="sub-table" [value]="role.modules" dataKey="id">
                            <ng-template pTemplate="header">
            <tr>
                <th class="sub-table-header">
                </th>
                <th class="sub-table-header" pSortableColumn="module">
                    <p-columnFilter [showMenu]="false" type="text" placeholder="module" [showClearButton]="false"
                        field="module">
                    </p-columnFilter>
                </th>
                <th class="sub-table-header" pSortableColumn="claims">
                    <p-columnFilter [showMenu]="false" type="text" placeholder="claims" [showClearButton]="false"
                        field="claims">
                    </p-columnFilter>
                </th>
                <th class="sub-table-header" pSortableColumn="description">
                    <p-columnFilter [showMenu]="false" type="text" placeholder="description" [showClearButton]="false"
                        field="description">
                    </p-columnFilter>
                </th>
                <th class="sub-table-header text-xxs" style="width:10%">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-module>
            <tr>
                <td class="sub-table-header"></td>
                <td class="text-xxs sub-table-header pl-4">{{module.module}}</td>
                <td class="text-xxs sub-table-header pl-4">{{module.claims}}</td>
                <td class="text-xxs sub-table-header pl-4">{{module.description}}</td>
                <td class="flex justify-end sub-table-header">
                    <button mat-button>
                        <span class="material-icons text-accent">
                            highlight_off
                        </span>
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
</td>
</tr>
</ng-template>
</p-table>
</div>