::ng-deep .mat-form-field-infix {
    display: flex !important;
    flex-direction: column;
}

::ng-deep .mat-form-field-flex {
    background-color: white !important;
}

::ng-deep .ng-tns-c97-9 {
    height: 30px !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
    padding: 0px;
}