<div class="bg-gray-light3 rounded-xl h-full p-4 flex flex-col">
    <h3 class="font-bold text-center text-lg">Creating a Person</h3>

    <div class="mt-4 flex flex-col">
        <h4 class="text-primary font-semibold text-base">Section Title</h4>
        <div class="flex items-center justify-between">
            <h5 class="text-xs font-bold">Mandatory Field 1</h5>
            <div class="flex">
                <h6 class="text-sm mr-3">Mandatory Field 1</h6>
                <span class="material-icons text-accent">
                    info
                </span>
            </div>
        </div>

        <div class="flex items-center justify-between">
            <h5 class="text-xs font-bold">Mandatory Field 1</h5>
            <div class="flex">
                <h6 class="text-sm mr-3">Mandatory Field 1</h6>
                <span class="material-icons text-accent">
                    info
                </span>
            </div>
        </div>

        <div class="flex items-center justify-between">
            <h5 class="text-xs font-bold">Mandatory Field 1</h5>
            <div class="flex">
                <h6 class="text-sm mr-3">Mandatory Field 1</h6>
                <span class="material-icons text-accent">
                    info
                </span>
            </div>
        </div>
        <div class="flex items-center justify-between">
            <h5 class="text-xs font-bold">Mandatory Field 1</h5>
            <div class="flex">
                <h6 class="text-sm mr-3">Mandatory Field 1</h6>
                <span class="material-icons text-accent">
                    info
                </span>
            </div>
        </div>
    </div>

    <div class="mt-4 flex flex-col">
        <h4 class="text-primary font-semibold text-base">Section Title</h4>
        <div class="flex items-center justify-between">
            <h5 class="text-xs font-bold">Mandatory Field 1</h5>
            <div class="flex">
                <h6 class="text-sm mr-3">Mandatory Field 1</h6>
                <span class="material-icons text-accent">
                    info
                </span>
            </div>
        </div>

        <div class="flex items-center justify-between">
            <h5 class="text-xs font-bold">Mandatory Field 1</h5>
            <div class="flex">
                <h6 class="text-sm mr-3">Mandatory Field 1</h6>
                <span class="material-icons text-accent">
                    info
                </span>
            </div>
        </div>

        <div class="flex items-center justify-between">
            <h5 class="text-xs font-bold">Mandatory Field 1</h5>
            <div class="flex">
                <h6 class="text-sm mr-3">Mandatory Field 1</h6>
                <span class="material-icons text-accent">
                    info
                </span>
            </div>
        </div>
        <div class="flex items-center justify-between">
            <h5 class="text-xs font-bold">Mandatory Field 1</h5>
            <div class="flex">
                <h6 class="text-sm mr-3">Mandatory Field 1</h6>
                <span class="material-icons text-accent">
                    info
                </span>
            </div>
        </div>
    </div>


    <div class="mt-4 flex flex-col">
        <h4 class="text-primary font-semibold text-base">Section Title</h4>
        <div class="flex items-center justify-between">
            <h5 class="text-xs font-bold">Mandatory Field 1</h5>
            <div class="flex">
                <h6 class="text-sm mr-3">Mandatory Field 1</h6>
                <span class="material-icons text-accent">
                    info
                </span>
            </div>
        </div>

        <div class="flex items-center justify-between">
            <h5 class="text-xs font-bold">Mandatory Field 1</h5>
            <div class="flex">
                <h6 class="text-sm mr-3">Mandatory Field 1</h6>
                <span class="material-icons text-accent">
                    info
                </span>
            </div>
        </div>

        <div class="flex items-center justify-between">
            <h5 class="text-xs font-bold">Mandatory Field 1</h5>
            <div class="flex">
                <h6 class="text-sm mr-3">Mandatory Field 1</h6>
                <span class="material-icons text-accent">
                    info
                </span>
            </div>
        </div>
        <div class="flex items-center justify-between">
            <h5 class="text-xs font-bold">Mandatory Field 1</h5>
            <div class="flex">
                <h6 class="text-sm mr-3">Mandatory Field 1</h6>
                <span class="material-icons text-accent">
                    info
                </span>
            </div>
        </div>
    </div>
</div>