<div class="mt-15 flex flex-row">
  <div class="w-1/3 flex flex-col justify-center px-4">
    <app-input-field
      label="Date issued"
      name="dateIssued"
      class="flex justify-center p-0 blueColor"
      [control]="getFormControl('dateIssued')"
      value=""
    ></app-input-field>
    <app-input-field
      label="Insurance Product"
      name="insuranceProduct"
      class="flex justify-center p-0 blueColor"
      [control]="getFormControl('insuranceProduct')"
      value=""
    ></app-input-field>
    <app-input-field
      label="Total Charges"
      name="totalCharges"
      class=""
      [control]="getFormControl('totalCharges')"
      value=""
    ></app-input-field>
    <app-input-field
      label="Total Open Claims"
      name="totalOpenClaims"
      class="flex justify-center pb-7 blueColor"
      [control]="getFormControl('totalOpenClaims')"
      value=""
    ></app-input-field>
  </div>
  <div class="w-1/3 px-5">
    <app-input-field
      label="Policy Number"
      name="policyNumber"
      class="flex justify-center p-0 blueColor"
      [control]="getFormControl('policyNumber')"
      value="
      "
    ></app-input-field>
    <app-input-field
      label="Premium"
      name="premium"
      class="greenColor flex justify-center p-0"
      [control]="getFormControl('premium')"
      value=""
    ></app-input-field>
    <app-input-field
      label="Pending Dues"
      name="pendingDues"
      class="flex justify-center p-0 blueColor"
      [control]="getFormControl('pendingDues')"
      value=""
    ></app-input-field>
  </div>
  <div class="w-1/3 px-4">
    <app-input-field
      label="Payment History"
      name="paymentHistory"
      class="flex justify-center p-0 blueColor"
      [control]="getFormControl('paymentHistory')"
      value=""
    ></app-input-field>
  </div>
</div>
