<div class="flex flex-row justify-start items-center gap-2">
    <div *ngFor="let crumb of routeCrumbsList?.crumbs; let i = index"
        class="flex flex-row items-center text-xs lg:text-base">
        <div [routerLink]="crumb.route" *ngIf="i !== routeCrumbsList?.crumbs.length -1"
            class="font-bold cursor-pointer">
            <span translate> {{crumb.translationKey}}</span> >
        </div>
        <div [routerLink]="crumb.route" *ngIf="i === routeCrumbsList?.crumbs.length -1"
            [ngClass]="{'text-primary': routeCrumbsList?.crumbs.length>1}"
            class="cursor-pointer font-bold text-xs lg:text-base">
            <span translate> {{crumb.translationKey}} </span>
        </div>
    </div>
</div>