<div class="px-10 w-full">
  <div class="flex flex-row">
    <div class="w-[65%]">
      <div class="h-[33px] colorflag">
        <app-input-field
          [control]="getFormControl('description')"
          (inputValueChange)="onChangeDetailInputValue()"
          name="description"
          label="Description"
          id="detailsDescription"
        ></app-input-field>
      </div>
    </div>

    <div class="w-[35%]">
      <p class="text-[11px] font-bold pl-[13%]">Severity:</p>
      <div class="flex flex-row pt-2 justify-evenly">
        <div class="mx-1">
          <div *ngIf="response == 2">
            <mat-icon
              (click)="getSeverityResponse(2)"
              svgIcon="customer-service-severity-low"
            ></mat-icon>
          </div>
          <div *ngIf="response !== 2">
            <mat-icon
              (click)="getSeverityResponse(2)"
              svgIcon="customer-service-severity-low-no-color"
            ></mat-icon>
          </div>
        </div>

        <div class="mx-1">
          <div *ngIf="response == 1">
            <mat-icon
              (click)="getSeverityResponse(1)"
              svgIcon="customer-service-severity-medium"
            ></mat-icon>
          </div>

          <div *ngIf="response !== 1">
            <mat-icon
              (click)="getSeverityResponse(1)"
              svgIcon="customer-service-severity-medium-no-color"
            ></mat-icon>
          </div>
        </div>

        <div class="mx-1">
          <div *ngIf="response == 0">
            <mat-icon
              (click)="getSeverityResponse(0)"
              svgIcon="customer-service-severity-high"
            ></mat-icon>
          </div>
          <div *ngIf="response !== 0">
            <mat-icon
              (click)="getSeverityResponse(0)"
              svgIcon="customer-service-severity-high-no-color"
            ></mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-1 flex items-end justify-end mb-1 pt-6">
    <div class="py-3 justify-items-end leading-none text-center flex items-center">
      <app-button
        (click)="onSave()"
        [isDisabled]="!isFormValid"
        classes="ml-auto px-8 py-3 text-[15px] bg-primary disabled:bg-[#8d8d8d] text-white rounded-md"
        text="Save"
      ></app-button>
    </div>
  </div>
</div>
