<div class="w-full flex flex-col pt-8 justify-between">
    <div class="flex flex-col">
        <span class="font-semibold pb-8">{{mode}} Branch in MedGulf Company</span>
    </div>
    <app-input-field label="Branch Name:" [control]="getFormControl('name')"></app-input-field>

    <div class="flex items-center justify-between w-full mt-8">
        <app-button (trigger)="onCancel()" text="cancel"
            classes="h-9 w-[95px] bg-white border border-accent text-accent">
        </app-button>
        <app-button (trigger)="onSave()" text="save" classes="h-9 w-[95px] bg-accent text-white"></app-button>
    </div>
    <div class="flex items-center justify-between w-full mt-4" *ngIf="id">
        <app-button (trigger)="delete()" text="Delete"
            classes="h-9 w-[95px] bg-white border border-[#EF2424] text-[#EF2424]">
        </app-button>
    </div>
</div>