<form class="new-select-design" *ngIf="!!options && options.length > 0" [formGroup]="selectSearchForm"
    [ngClass]="{ inactive: disableSelectSearch }">
    <mat-label>
        {{ label }}
    </mat-label>
    <mat-form-field [ngClass]="{ inactive: disableSelectSearch }" appearance="fill">
        <mat-select (selectionChange)="optionSelected($event)"
            [panelClass]="['new-select-design-panel', panelClass, scrollClass]" formControlName="SelectControl"
            [disableOptionCentering]="true" [disabled]="disableSelectSearch" (openedChange)="openedChange($event)"
            multiple="{{ multiple }}" [value]="selected" [placeholder]="selectPlaceholder"
            [compareWith]="compareWithFn">
            <div *ngIf="showSearch" class="search-option">
                <mat-icon class="search-icon" matPrefix aria-label="Search Icon">search</mat-icon>
                <input class="search-input" tabindex="0" #searchDropdownInput type="text" matInput
                    [placeholder]="searchPlaceholder" formControlName="SearchControl" trim="blur" autocomplete="off" />
                <mat-icon *ngIf="showClearButton" matSuffix class="clear-icon cursor-pointer" aria-label="Clear"
                    (click)="clear($event)">clear
                </mat-icon>
            </div>
            <ng-container *ngIf="showSearch">
                <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option"
                    (click)="multiple ? recalculateCheckedBoxes() : null">
                    {{ displayValue(option) }}
                </mat-option>
                <span *ngIf="!showAllOption && (filteredOptions$ | async)?.length === 0" class="no-results">
                    No results found, please try again.
                </span>
            </ng-container>
            <ng-container *ngIf="!showSearch">
                <mat-option *ngFor="let option of options" [value]="option"
                    (click)="multiple ? recalculateCheckedBoxes() : null">
                    {{ displayValue(option) }}
                </mat-option>
            </ng-container>
        </mat-select>
    </mat-form-field>
    <ng-container *ngFor="let validator of validatorArray">
        <mat-error *ngIf="
        selectSearchForm.get('SelectControl').hasError(validator.type) &&
        selectSearchForm.get('SelectControl').touched
      ">
            {{ validator.message }}
        </mat-error>
    </ng-container>
</form>