<div class="min-w-[50rem] h-full ">
    <app-search (selectAccount)="selectAccount($event)"></app-search>
    <div class="flex flex-col justify-between w-full">
        <div class="flex items-stretch  my-6 h-[90px] shadow rounded-[14px] justify-between w-full">
            <div class="flex flex-row  justify-between items-center w-full px-5">
                <div class="flex pl-8 justify-end items-center w-full">
                    <p class="mr-4 text-lg">From</p>
                    <div class=" w-full">
                        <div class="flex flex-row justify-center items-center w-full">
                            <input class="w-full" [formControl]="startDateFormControl" placeholder="xx/xx/2022"
                                [readOnly]="true" [matDatepicker]="startDatePicker">
                            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #startDatePicker></mat-datepicker>
                        </div>
                        <div class="pr-4">
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="flex pl-8 justify-end items-center w-full">
                    <p class="mr-4 text-lg">To</p>
                    <div class=" w-full">
                        <div class="flex flex-row justify-center items-center w-full">
                            <input class="w-full" [formControl]="endDateFormControl" placeholder="xx/xx/2022"
                                [readOnly]="true" [matDatepicker]="endDatePicker">
                            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #endDatePicker></mat-datepicker>
                        </div>
                        <div class="pr-4">
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <button (click)="onStartSearch()"
                class="flex flex-col justify-center items-center w-24 h-full bg-primary text-white rounded-r-[14px]">
                <span class="material-icons">
                    search
                </span>
                <p class="text-sm font-medium mt-2">Search</p>
            </button>
        </div>
    </div>
    <div>
        <p class="text-sm font-medium my-5">Legal Expenses</p>
        <app-widget-table [tableConfiguration]="tableConfiguration"></app-widget-table>
    </div>
    <div class="flex items-center  my-5 py-3 px-5 shadow rounded-lg  justify-end bg-primary w-full">
        <p class="mr-4 text-sm text-white w-1/4">Opening Balance</p>
        <div class="flex w-full justify-end">
            <p class="text-lg text-white">
                {{accountOpenBalance}}$</p>
        </div>
    </div>
    <div class="flex items-center  my-5 py-3 px-5 shadow rounded-lg  justify-end bg-primary w-full">
        <p class="mr-4 text-sm text-white w-1/4">Closing Balance</p>
        <div class="flex w-full justify-end">
            <p class="text-lg text-white">
                {{accountCloseBalance}}$</p>
        </div>
    </div>
    <div class="flex flex-row justify-end pb-10">
        <app-button
            classes="px-12 py-4  text-[12px] leading-none text-center flex justify-center items-center  bg-primary text-white  color-white"
            text="Print Statement of Account"></app-button>
    </div>
</div>