<app-toolbar (ToggleSideBarForLeftMenu)="LSideBarToggle()" class="shadow-2xl poppins-font"></app-toolbar>

<mat-sidenav-container class="poppins-font" [dir]="(isRTLDirection$|async) ? 'rtl': 'ltr'">
    <mat-sidenav #sidenav mode="side" position="start" opened="true">
        <app-left-side-bar></app-left-side-bar>
    </mat-sidenav>

    <mat-sidenav-content class="p-2 h-full">
        <div *ngIf="routeCrumbsList?.crumbs" class="h-[5%] flex items-center">
            <app-breadcrumbs></app-breadcrumbs>
        </div>
        <div [ngClass]="{'h-[95%]': routeCrumbsList?.crumbs, 'h-full': !routeCrumbsList?.crumbs}">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>

    <mat-sidenav #sidenav [mode]="rightSidenavMode$|async" position="end" [opened]="isRightSidenavOpened$|async"
        class="bg-[#FAFAFA]">
        <app-right-side-bar></app-right-side-bar>
    </mat-sidenav>
</mat-sidenav-container>