<app-header (ToggleSideBarForLeftMenu)="LSideBarToggle()" class="shadow-2xl poppins-font"></app-header>

<mat-sidenav-container class="poppins-font">
    <mat-sidenav #sidenav mode="side" position="start" opened="true">
        <app-left-side-bar></app-left-side-bar>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

    <mat-sidenav #sidenav mode="side" position="end" opened="true" class="bg-[#FAFAFA]">
        <app-right-side-bar></app-right-side-bar>
    </mat-sidenav>
</mat-sidenav-container>