:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-sidenav {
    width: var(--sideNavSize);
}

mat-sidenav-container {
    height: 100%;
}

::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
    background-color: unset !important;
}