:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-sidenav {
    width: var(--sideNavSize);
}

::ng-deep .mat-drawer-content {
    margin-left: var(--marginLeftValue);

}

::ng-deep .content {
    margin-left: var(--marginLeftValue);
}

mat-sidenav-container {
    height: 100%;
}