.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: unset !important;
}

.mat-form-field-label {
    font-weight: 600 !important;
    color: black;
    font-size: 11px !important;
}

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    font-size: 15px;
}

.mat-select-value-text {
    color: var(--accent-color) !important;
    font-size: 12px !important;
}

.mat-select-arrow {
    color: var(--accent-color) !important;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid;
    margin-top: 10px;
}

.mat-input-element {
    color: var(--accent-color) !important;
    font-size: 12px !important;
}

.mat-form-field-appearance-fill .mat-form-field-underline::before {
    background-color: #707070 !important;
    height: 2px !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #707070 !important;
    height: 2px !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
    color: black !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0.25em 0.25em 0 0.25em !important;
}