.spinner {
    background: #ffffff87;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1000;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}