.bgColor {
  background-color: #fafafa;
}
.twocolorbackground {
  background: linear-gradient(90deg, #fafafa 50%, white 50%);
}
.border-b-half {
  border-bottom: 0.5px solid gray;
}

::ng-deep .flex-end {
  svg {
    width: 60%;
    height: 60%;
  }
  .mat-icon {
    display: flex;
  }
}