<div class="flex justify-start items-center h-[5%] gap-4">
    <mat-icon (click)="back()" class="cursor-pointer"> keyboard_arrow_left</mat-icon>
    <!-- <img class="rounded-full w-[40px] h-[40px]" [src]="photoURL"> -->
    <span>{{message.Name}}</span>
</div>
<div class="h-[75%] overflow-auto">
    <div class="flex-col" *ngFor="let item of message.Messages">
        <app-message-card [message]="item"></app-message-card>
    </div>
</div>
<div class="flex flex-col h-[20%] upperShadow  pb-2">
    <div class="h-[80%]">
        <textarea class="w-full h-full" id="text" name="text" placeholder="Enter your message here"></textarea>
    </div>
    <div class="flex flex-row h-[20%]">
        <div class="w-[75%] grid grid-cols-4 divide-x">
            <div>
                <mat-icon class="cursor-pointer"> attachment</mat-icon>
            </div>
            <div>
                <mat-icon class="cursor-pointer">photo_library</mat-icon>
            </div>
            <div>
                <mat-icon class="cursor-pointer">settings_voice</mat-icon>
            </div>
            <div>
                <mat-icon class="cursor-pointer">call</mat-icon>
            </div>
        </div>
        <div class="flex justify-center items-center w-[25%] bg-primary rounded-md text-[#FFFFFF] cursor-pointer">
            Send
        </div>
    </div>
</div>