<div class="flex flex-col px-6 py-3 border-2 border-gray-light2 shadow rounded-xl">
    <div class="flex items-center justify-between">
        <p class="text-xl font-bold">Entity Information</p>
        <button mat-button matTooltipClass="select-tooltip"
            matTooltip="Clicking the Button selects the EIN Number and plugs it in the text box value."
            class="bg-primary shadow text-white rounded-2xl px-3 pb-[2px] flex justify-center items-center">
            <span class="text-sm">select</span>
        </button>
    </div>
    <div class="flex justify-center item-center mt-3 mb-6">
        <img class="rounded-full h-32 w-32 shadow" src="assets/images/profile.jpg" />
    </div>
    <div class="flex items-center justify-between">
        <h3 class="text-xs font-bold">EIN Number</h3>
        <h4 class="text-sm">839217</h4>
    </div>
    <mat-divider></mat-divider>
    <div class="flex items-center justify-between">
        <h3 class="text-xs font-bold">First Name</h3>
        <h4 class="text-sm">Mohamad</h4>
    </div>
    <mat-divider></mat-divider>
    <div class="flex items-center justify-between">
        <h3 class="text-xs font-bold">Last Name</h3>
        <h4 class="text-sm">Al Srouji</h4>
    </div>
    <mat-divider></mat-divider>
    <div class="flex items-center justify-between">
        <h3 class="text-xs font-bold">First Name (LL)</h3>
        <h4 class="text-sm"></h4>
    </div>
    <mat-divider></mat-divider>
    <div class="flex items-center justify-between">
        <h3 class="text-xs font-bold">Last Name (LL)</h3>
        <h4 class="text-sm"></h4>
    </div>
    <mat-divider></mat-divider>
    <div class="flex items-center justify-between">
        <h3 class="text-xs font-bold">DOB</h3>
        <h4 class="text-sm">10/10/1984</h4>
    </div>
    <mat-divider></mat-divider>
    <div class="flex items-center justify-between">
        <h3 class="text-xs font-bold">EIN Number</h3>
        <h4 class="text-sm">839217</h4>
    </div>
    <mat-divider></mat-divider>
    <div class="flex items-center justify-between">
        <h3 class="text-xs font-bold">Nationality</h3>
        <h4 class="text-sm">Lebanese</h4>
    </div>
    <mat-divider></mat-divider>
    <div class="flex items-center justify-between">
        <h3 class="text-xs font-bold">Gender</h3>
        <h4 class="text-sm">Male</h4>
    </div>
    <mat-divider></mat-divider>
    <div class="flex items-center justify-between">
        <h3 class="text-xs font-bold">Profession</h3>
        <h4 class="text-sm">Engineer</h4>
    </div>
    <mat-divider></mat-divider>
    <div class="flex items-center justify-between">
        <h3 class="text-xs font-bold">Address</h3>
        <h4 class="text-sm">Address Details</h4>
    </div>
    <mat-divider></mat-divider>
    <div class="flex items-center justify-between">
        <div class="flex items-center">
            <h3 class="text-xs font-bold mr-2">State: </h3>
            <h4 class="text-sm">Beirut</h4>
        </div>
        <div class="flex items-center">
            <h3 class="text-xs font-bold mr-2">City: </h3>
            <h4 class="text-sm">Beirut</h4>
        </div>
        <div class="flex items-center">
            <h3 class="text-xs font-bold mr-2">Country: </h3>
            <h4 class="text-sm">Lebanon</h4>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="flex items-center justify-between">
        <h3 class="text-xs font-bold">Education Level</h3>
        <h4 class="text-sm">Masters Degree</h4>
    </div>
</div>