.mat-divider {
    margin-bottom: 8px;
    margin-top: 5px;
}

::ng-deep .select-tooltip {
    background-color: var(--primary-color) !important;
    color: white !important;
    font-size: 13px;
    text-align: center;
    font-weight: 300;
}