<div class="h-full w-full shadow-xl">
    <mat-drawer-container>
        <mat-drawer #drawer mode="side" opened="true" class="flex flex-col p-2 justify-center items-center">
            <div *ngFor="let item of navList" class="flex justify-between items-center cursor-pointer pr-2 pb-4"
                (click)="onItemClick(item)">
                <div class="text-sm">
                    <span translate>{{item.transitionKey}}</span>
                </div>
                <div class="flex justify-center items-center">
                    <mat-icon color="primary">keyboard_arrow_right</mat-icon>
                </div>
            </div>
        </mat-drawer>
        <mat-drawer-content>
            <div class="p-1 h-full">
                <router-outlet> </router-outlet>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>