<div class="flex items-stretch my-6 h-[90px] shadow rounded-[14px] justify-between w-full mt-20">
  <div class="flex flex-row justify-between items-center w-full px-5">
    <div class="flex pl-8 justify-end items-center w-full">
      <p class="mr-4 text-base">Due Date From</p>
      <div class="w-full">
        <div class="flex flex-row justify-center items-center w-full">
          <input class="w-full" placeholder="xx/xx/2022" [readOnly]="true" [matDatepicker]="startDatePicker" />
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </div>
        <div class="pr-4">
          <hr />
        </div>
      </div>
    </div>
    <div class="flex pl-8 justify-end items-center w-full">
      <p class="mr-4 text-base">Due Date To</p>
      <div class="w-full">
        <div class="flex flex-row justify-center items-center w-full">
          <input class="w-full" placeholder="xx/xx/2022" [readOnly]="true" [matDatepicker]="endDatePicker" />
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
        </div>
        <div class="pr-4">
          <hr />
        </div>
      </div>
    </div>
  </div>
  <button class="flex flex-col justify-center items-center w-24 h-full bg-primary text-white rounded-r-[14px]">
    <span class="material-icons"> search </span>
    <p class="text-sm font-medium mt-2">Search</p>
  </button>
</div>
<app-widget-table [tableConfiguration]="tableConfiguration"
  (onRowSelection)="onRowSelection($event)"></app-widget-table>