<div class="flex flex-col px-6 pt-3 shadow rounded-xl">
    <app-profile-ratio class="mb-4" label="Lifetime P/L Ratio" ratio="+17%" percentile="81"></app-profile-ratio>
    <app-profile-ratio class="mb-4" label="Current P/L Ratio" ratio="+76%" percentile="93"></app-profile-ratio>
    <app-profile-ratio class="mb-4" label="Risk Score" ratio="73" percentile="81"></app-profile-ratio>
    <div class="flex items-center justify-between mt-4">
        <div class="flex flex-col items-center">
            <p class="text-sm">Current <br />Financial Value</p>
            <p class="text-xl font-bold mt-3">4,342 USD</p>
        </div>
        <div class="flex flex-col items-center">
            <p class="text-sm">Indirect Current <br /> Financial Value</p>
            <p class="text-xl font-bold mt-3">27,515 USD</p>
        </div>
    </div>
    <div class="flex items-center justify-between mt-4">
        <div class="flex flex-col items-center">
            <p class="text-sm">Direct Lifetime<br /> Financial Value</p>
            <p class="text-xl font-bold mt-3">4,342 USD</p>
        </div>
        <div class="flex flex-col items-center">
            <p class="text-sm">Indirect Lifetime <br />Financial Value</p>
            <p class="text-xl font-bold mt-3">27,515 USD</p>
        </div>
    </div>
    <div class="flex items-center justify-between mt-4">
        <div class="flex flex-col items-center">
            <p class="text-sm">Current <br />Claims Value</p>
            <p class="text-xl font-bold mt-3">4,342 USD</p>
        </div>
        <div class="flex flex-col items-center">
            <p class="text-sm">Indirect Current <br /> Claims Value</p>
            <p class="text-xl font-bold mt-3">27,515 USD</p>
        </div>
    </div>
    <div class="flex items-center justify-between mt-4">
        <div class="flex flex-col items-center">
            <p class="text-sm">Direct Lifetime<br /> Claims Value</p>
            <p class="text-xl font-bold mt-3">4,342 USD</p>
        </div>
        <div class="flex flex-col items-center">
            <p class="text-sm">Indirect Current <br /> Claims Value</p>
            <p class="text-xl font-bold mt-3">27,515 USD</p>
        </div>
    </div>
</div>