<div
    class="flex flex-col h-20 w-full rounded-lg text-black bg-[#F5F5F5] mb-1 hover:bg-[#30313B] hover:text-white cursor-pointer">
    <div class="flex flex-row h-full justify-center items-center w-full p-2 gap-2">
        <div class="h-full w-2/12 flex justify-center items-center">
            <img class="rounded-full w-full" src="../../../../../../../../../../assets/images/profile.jpg"
                alt="profile">
        </div>
        <div class="flex flex-col w-9/12 justify-start">
            <div class="flex justify-start font-bold">{{contact.Name}}</div>
            <div class="text-xs flex justify-start">
                {{ (contact.Messages[contact.Messages.length -1 ].message) | slice:0:36 }}...
            </div>
        </div>
        <div class="relative w-1/12 h-full pr-2">
            <div class="text-xs">
                {{contact.Messages[contact.Messages.length -1 ].time}}
            </div>
            <div
                class="absolute flex justify-center items-center bottom-[10px] align-baseline text-xs bg-primary rounded-2xl text-[#FFFFFF] h-5 w-5">
                {{contact.NewMessages}}
            </div>
        </div>
    </div>
</div>