<app-system-setup>
    <div class="h-full w-full pl-6 flex flex-row overflow-y-auto min-w-[40rem] min-h-[40rem]">
        <div class="w-1/3 flex flex-col">
            <div class="h-full w-2/3 pt-4 gap-2 flex flex-col">
                <app-input-field label="Company Name:" [control]="getFormControl('companyName')"></app-input-field>
                <app-select-list class="w-full" label="Default Language:" [control]="getFormControl('defaultLanguage')">
                </app-select-list>
                <app-select-list class="w-full" label="Country:"
                    [control]="getFormControl('country')"></app-select-list>
                <app-select-list class="w-full" label="Default Currency:" [control]="getFormControl('defaultCurrency')">
                </app-select-list>
                <app-select-list class="w-full" label="Fiscal Year:"
                    [control]="getFormControl('fiscalYear')"></app-select-list>
                <app-input-field label="Underwriting Year:" [control]="getFormControl('underwritingYear')">
                </app-input-field>
                <app-select-list class="w-full" label="Accounting Style:" [control]="getFormControl('accountingStyle')">
                </app-select-list>
            </div>
        </div>
        <div class="w-2/3 flex flex-col">
            <div class="h-full flex flex-col gap-1 pt-4">
                <div class="w-full flex items-center justify-between mb-2">
                    <span class="text-sm font-medium">Holiday List Definition for: <span
                            class="text-primary">2023</span></span>
                    <app-button (trigger)="onHolidayAdded()" icon="add" text="Add New Holiday"
                        classes="bg-accent text-xs rounded-md text-white font-light h-6 w-[150px]">
                    </app-button>
                </div>
                <app-widget-table class="w-full" [tableConfiguration]="tableConfiguration"></app-widget-table>
            </div>
        </div>
    </div>
</app-system-setup>