<form [formGroup]="fg" *ngIf="fg" class="flex flex-col py-9">
    <h4 class="font-bold text-sm mb-7">{{isCreateMode()?'Add New Entity':'Edit New Entity'}}</h4>

    <app-input-field label="Entity Code:" [formControl]="getFormControl('code')"></app-input-field>
    <app-input-field label="Entity Name:" [formControl]="getFormControl('name')"></app-input-field>
    <app-input-field label="Entity Description:" [formControl]="getFormControl('description')"></app-input-field>

    <div class="flex items-center mt-7 justify-between w-full">
        <app-button (trigger)="onClose()" text="cancel"
            classes="h-9 w-[95px] bg-white border border-accent text-accent"></app-button>
        <app-button (trigger)="onSave()" text="save" classes="h-9 w-[95px] bg-accent text-white"></app-button>
    </div>
</form>