<div class="flex flex-col justify-start bg-white items-center h-16 w-[100%] rounded-xl text-[#888888] shadow-xl p-2">
    <div class="w-full h-[30%] flex justify-end items-center">
        <mat-icon class="cursor-pointer icon" svgIcon="close"></mat-icon>
    </div>
    <div class="w-full h-[80%] flex justify-start items-center px-2">
        <textarea class="w-full h-full text-xs" id="text" name="text"
            placeholder="Don't forget to email George regarding his policy."></textarea>
    </div>
</div>