<div class="h-full p-0">
    <div class="h-[8%]">
        <span class="font-bold text-2xl">Hello Ali Atwi,</span><br>
        <span class="font-light text-sm">Today is 25.11.2022</span>
    </div>
    <div class="flex flex-row h-[30%] gap-2">
        <div *ngFor="let item of cards">
            <app-card [card]="item"></app-card>
        </div>
    </div>
    <div class="flex flex-row h-[62%]">
        <div class="w-[400px]">
            <app-assigned-tasks></app-assigned-tasks>
        </div>
        <div style="width: calc((100%) - 400px);" class="min-w-[500px]">
            <app-sticky-notes></app-sticky-notes>
        </div>
    </div>
</div>