<form [formGroup]="fg" *ngIf="fg" class="flex flex-col py-9">
    <h4 class="font-bold text-sm mb-7">Add New Entity Relationship Type</h4>
    <div class="mr-[45px] gap-4 flex flex-col">

        <app-input-field label="Entity Relationship Type Code:" [control]="getFormControl('code')"></app-input-field>
        <app-select-list label="Relationship Type Forward:" [control]="getFormControl('forward')"></app-select-list>
        <app-select-list label="Relationship Type Backward:" [control]="getFormControl('back')"></app-select-list>
        <app-input-field label="Relationship Type Description:"
            [control]="getFormControl('description')"></app-input-field>

        <app-select-list-with-chips [fg]="fg" [showFirstSelectList]="false"
            secondSelectListFormControlName="allowedEntities" secondSelectListLabel="Allowed Entities">
        </app-select-list-with-chips>
        <div class="flex items-center mt-4">
            <p class="text-xs font-bold mr-[45px]">Lock Entity Type</p>
            <mat-slide-toggle></mat-slide-toggle>
        </div>
    </div>
    <div class="flex items-center mt-7 justify-between w-full">
        <app-button (trigger)="onClose()" text="cancel"
            classes="h-9 w-[95px] bg-white border border-accent text-accent"></app-button>
        <app-button (trigger)="onSave()" text="save" classes="h-9 w-[95px] bg-accent text-white"></app-button>
    </div>
</form>