:host ::ng-deep {

    ::ng-deep .mat-chip.mat-standard-chip {
        background-color: var(--accent-color) !important;
        color: white !important;
        font-size: 10px !important;
        border-radius: 7px !important;
    }

    ::ng-deep .mat-chip.mat-standard-chip .mat-chip-remove {
        color: white !important;
        opacity: 1 !important;
    }

    .cancel-icon {
        height: 16px !important;
        width: 16px !important;
        font-size: 13px !important;
    }

    .container {
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }

    ::ng-deep .mat-chip-list-wrapper {
        background-color: #C0C6CC;
        margin: 0px !important;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        border-color: var(--accent-color);
        border-width: 1px;
        min-height: 50px;
    }

    .size-icon {
        height: 18px !important;
        width: 18px !important;
        font-size: 18px !important;
    }
}