<div
  class="bg-white flex w-[40rem] h-[24rem] rounded-[18px] border-[1px] border-[#005f83] absolute bottom-[95%] right-[65%]"
  *ngIf="calculatorClicked"
>
  <div
    class="bg-[#fafafa] w-[40%] h-full rounded-tl-[18px] rounded-bl-[18px] border-r-2 border-r-[#005f83]"
  >
    <app-input-field
      label="Car Make"
      name="carMake"
      [control]="getFormControl('make')"
      value=" "
      [type]="'number'"
    ></app-input-field>

    <app-input-field
      label="Car Brand"
      name="carBrand"
      [control]="getFormControl('brand')"
      value=" "
      [type]="'number'"
    ></app-input-field>

    <app-input-field
      label="Car Model"
      name="carModel"
      [control]="getFormControl('model')"
      value=" "
      [type]="'number'"
    ></app-input-field>

    <app-input-field
      label="Car Plate"
      name="carPlate"
      value=" "
      [control]="getFormControl('plate')"
      [type]="'number'"
    ></app-input-field>

    <app-input-field
      label="Car Type"
      name="carType"
      value=" "
      [control]="getFormControl('type')"
      [type]="'number'"
    ></app-input-field>

    <app-input-field
      label="Car Color"
      name="carColor"
      value=" "
      [control]="getFormControl('color')"
      [type]="'number'"
    ></app-input-field>

    <app-input-field
      label="Horse Power"
      name="carHorsePower"
      value=" "
      [control]="getFormControl('horsePower')"
      [type]="'number'"
    ></app-input-field>
  </div>

  <div class="w-[60%] pt-2 pl-4 h-full">
    <p class="font-semibold pb-8">Sum Insured (Value of the Car)</p>
    <div class="inline-flex">
      <div class="text-xs text-[#005f83] pr-1">
        {{ minSumInsured }}
        <p class="text-[8px]">Estimated Low</p>
      </div>
      <mat-slider
        [min]="minSumInsured"
        [max]="maxSumInsured"
        step="1"
        discrete
        [thumbLabel]="true"
      >
        <input matSliderThumb />
      </mat-slider>
      <div class="text-xs text-[#005f83] pl-1">
        {{ maxSumInsured }}
        <p class="text-[8px]">Estimated High</p>
      </div>
    </div>
    <div class="text-[8px] text-[#005f83] top-[30%] absolute right-[25%]">
      <span>Sum Insured</span>
    </div>

    <p class="font-semibold pb-4 pt-8">Include Pricing for:</p>
    <div class="inline-flex gap-5">
      <button
        class="ml-auto px-3.5 py-2 text-[11px] bg-primary text-white rounded-md"
        [ngClass]="{ 'selected-button': selectedPricingCalculateBtn == 0 }"
        (click)="onClickPricingBtn(0)"
      >
        0% Deductible
      </button>
      <button
        class="ml-auto px-3.5 py-2 text-[11px] bg-primary text-white rounded-md"
        [ngClass]="{ 'selected-button': selectedPricingCalculateBtn == 1 }"
        (click)="onClickPricingBtn(1)"
      >
        Dealership Repair
      </button>
      <button
        class="ml-auto px-3.5 py-2 text-[11px] bg-primary text-white rounded-md"
        [ngClass]="{ 'selected-button': selectedPricingCalculateBtn == 2 }"
        (click)="onClickPricingBtn(2)"
      >
        15% Deductible
      </button>
    </div>

    <button
      class="ml-auto px-4 py-3 absolute bottom-[3%] right-[2%] text-[15px] bg-primary text-white rounded-md"
    >
      Send Price Proposal
    </button>
  </div>
</div>

<div>
  <mat-icon
    class="py-2 cursor-pointer chat-icon-buttons"
    *ngIf="canShowCalculator"
    svgIcon="customer-service-calculator"
    (click)="onClickCalculator()"
  ></mat-icon>
</div>
