<app-dialog-header label="Print Preview"></app-dialog-header>
<div class="w-full px-[50px] py-[20px] flex flex-row">
  <div class="flex flex-row justify-start items-center w-1/2 pt-8 px-2">
    <p class="mr-4 text-sm font-medium">Paid to</p>
    <div class="flex flex-col w-[70%]">
      <div class="flex flex-row w-full">
        <input
          class="h-full bg-transparent flex justify-center items-center outline-none w-full px-1 text-sm xl:text-base font-light"
          type="text"
        />
      </div>
      <div class="pt-2">
        <hr />
      </div>
    </div>
  </div>
  <div class="flex flex-row justify-start items-center w-1/2 pt-8 px-2">
    <p class="mr-4 text-sm font-medium">Description</p>
    <div class="flex flex-col w-[70%]">
      <div class="flex flex-row w-full">
        <input
          class="h-full bg-transparent flex justify-center items-center outline-none w-full px-1 text-sm xl:text-base font-light"
          type="text"
        />
      </div>
      <div class="pt-2">
        <hr />
      </div>
    </div>
  </div>
</div>
<div class="flex flex-row justify-center">
  <div
    class="flex flex-row justify-center items-center w-1/2 py-4 px-2 rounded-[10px] bg-[#fafafa]"
  >
    <p class="mr-4 text-[18px] text-[#275e80] font-medium">LBP</p>
    <div class="flex flex-col w-[70%]">
      <div class="flex flex-row w-full">
        <input
          class="h-full bg-transparent flex justify-center items-center outline-none w-full px-1 text-[18px] text-[#275e80] xl:text-base font-medium"
          placeholder="2099888"
          type="number"
        />
      </div>
      <div class="pt-2">
        <hr />
      </div>
    </div>
  </div>
</div>
<div class="flex flex-row items-center justify-center">
  <img class="h-[250px] w-[80%] object-contain" src="{{ printImage }}" />
</div>
<div class="pt-[30px] flex flex-row justify-end items-end w-full">
  <div class="pr-[50px] py-[18px] flex flex-row items-center justify-center">
    <p class="text-[20px] font-bold text-[#186aa5]">> Detail_File.xlsx</p>
  </div>
  <app-button
    classes="px-12 py-6 text-[20px] leading-none text-center flex
                 justify-center items-center  border-[#186aa5] border-2 text-primary  color-white"
    text="Cancel"
  ></app-button>
  <app-button
    classes="px-12 py-6 ml-6 text-[20px] leading-none text-center flex
                 justify-center items-center  bg-primary text-white  color-white"
    text="Cancel Request"
  ></app-button>
  <app-button
    classes="px-12 py-6 ml-6 text-[20px] leading-none text-center flex
                 justify-center items-center  bg-primary text-white  color-white"
    text="Print"
  ></app-button>
</div>
