<div class="flex flex-col rounded-3xl w-[270px] h-full p-4 text-[#ffffff]" [ngStyle]="backgroundStyle">
    <div class="h-[20%] flex -space-x-4">
        <div class="" *ngFor="let item of card.employee; let i = index">
            <img *ngIf="i < 3" class="w-[30px] h-[30px]  rounded-full" [src]="item.photoURL">
            <a *ngIf="i === card.employee.length -1 "
                class="cursor-default flex justify-center text-[#000] z-50 items-center w-[30px] h-[30px] text-xs font-medium bg-[#FFFFFF] rounded-full"
                href="#">+{{card.employee.length}}</a>
        </div>

        <!-- <img class="w-[30px] h-[30px] relative inline object-cover  rounded-full"
            src="../../../../../assets//images/profile.jpg" style='z-index: 3;'>

        <img class="w-[30px] h-[30px] relative inline object-cover  rounded-full"
            src="../../../../../assets//images/profile.jpg" style='z-index: 2;'>

        <img class="w-[30px] h-[30px] relative inline object-cover  rounded-full"
            src="../../../../../assets//images/profile.jpg" style='z-index: 1;'> -->
    </div>
    <div class="h-[10%]">
        <span class="font-bold">{{card.title}}</span>
    </div>
    <div class="h-[70%] pt-4">
        <div class="justify-center pt-1 pb-1" *ngFor="let page of card.pages">
            <app-page-item [item]="page" [color]="card.backgroundColor"></app-page-item>
        </div>
    </div>
</div>